.recordsuploadform {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 #bedded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* filter: blur(5px); */
}

.recordsuploadform textarea {
    border: 1px dashed black;
    padding: 0.5rem;
}


.btn {
   margin: 1rem;
   background-color: var(--light-blue);
   color: white;
   font-weight: 500;
   height: var(--height);
   width: 145px;
   border-radius: var(--field-radius);
   text-transform: capitalize;
   text-align: center;
   box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   position: relative;
   cursor: pointer;
   align-self: center;
}