.homeloadingbg {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   z-index: 10;
   visibility: visible;
   opacity: 1;
}
.loadingspinner {
   position: fixed;
   width: 40%;
   /*height: 50%; */
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border-radius: 10px;
   z-index: 11;
}

#loadingBody {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   overflow: hidden;
   background-color: #001f25;
}

.loader {
   position: relative;
   width: 300px;
   height: 300px;
}

.loader span {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: rotate(calc(36deg * var(--i)));
}

.loader span::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: transparent;
   border: 4px solid #00efff;
   box-sizing: border-box;
   box-shadow: 0 0 20px #00efff, -30px -30px 0 #00efff, -30px -30px 20px #00efff,
      30px 30px 0 #00efff, 30px -30px 20px #00efff, 30px -30px 0 #00efff,
      30px 30px 20px #00efff, -30px 30px 0 #00efff, -30px 30px 20px #00efff;

   animation: animate 5s linear infinite;
   animation-delay: calc(-0.25s * var(--i));
   transform-origin: 20px;
   transition: 2s;
}
.loader:hover span::before {
   transform-origin: 250px;
   box-shadow: 0 0 20px #00efff, -200px -200px 0 #00efff,
      -200px -200px 20px #00efff, 200px 200px 0 #00efff,
      200px 200px 20px #00efff, 200px -200px 0 #00efff,
      200px -200px 20px #00efff, -200px 200px 0 #00efff,
      -200px 200px 20px #00efff;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
      filter: hue-rotate(0deg);
   }
   100% {
      transform: rotate(360deg);

      filter: hue-rotate(360deg);
   }
}
