.profileBody {
   margin-top: 1rem;
   background-color: var(--gray);
   width: 100%;
   height: 90%;
   min-height: 90%;
   max-height: 90%;
   padding: 1.3rem 1.2rem 0 1.4rem;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
}
.profileImage {
   height: 9.2rem;
   width: 8rem;
   margin: 0 auto;
   background-color: var(--midcol);
   border-radius: 0.4rem;
}
.profileImage img {
   width: 100%;
   height: 100%;
   border-radius: 0.4rem;
}
.profileDetails {
   text-align: center;
   margin-top: 0.8rem;
   word-break: break-word;
}

.profileDetails h3 {
   font-weight: 700;
   font-size: 0.9rem;
   color: var(--deepcol);
   margin-top: 1rem;
}

.profileInfo {
   margin-top: 2rem;
}
.profileRatings {
   margin-bottom: 1rem;
}
.profileRatings h3 {
   font-weight: 700;
   font-size: 1rem;
   color: var(--deepcol);
}
.profileRatingsContent {
   font-weight: 500;

   display: flex;
   height: 1.5rem;
   min-height: 1.5rem;
   max-height: 1.5rem;
}
.profileRatingsContent span {
   color: rgb(255, 204, 0);
   font-size: 1.2rem;
   padding-right: 0.1rem;
}
.profileRatingsContent p {
   font-weight: 500;
   font-size: 0.7rem;
   color: var(--midcol);
   margin: 0.2rem 0 0 0.5rem;
}

.profileSpecialities {
   margin-top: 1rem;
}
.profileSpecialities h3 {
   font-weight: 700;
   font-size: 1rem;
   color: var(--deepcol);
}
.profileSpecialities p {
   font-weight: 500;
   font-size: 0.7rem;
   color: var(--midcol);
}
.profileHospital {
   margin-top: 1rem;
}
.profileHospital h3 {
   font-weight: 700;
   font-size: 1rem;
   color: var(--deepcol);
}
.profileHospital p {
   font-weight: 500;
   font-size: 0.7rem;
   color: var(--midcol);
}
.profileButton {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2.2rem;
}
.profileButton button {
   /* width: 25%;
   height: 100%; */
   border: none;
   outline: none;
   cursor: pointer;
   background-color: #05a6c2;
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.9rem;
   text-align: center;
   overflow: hidden;
   position: relative;
   justify-content: flex-end;
   padding: 0.7rem 0.6rem;
   border-radius: 0.2rem;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
   .profileImage {
      width: 8rem;
   }
   .profileDetails h3 {
      font-size: 0.9rem;
   }

   .profileButton button {
      font-size: 0.7rem;
      padding: 0.7rem 0.6rem;
      border-radius: 0.2rem;
   }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   .profileImage {
      width: 7rem;
   }

   .profileDetails p {
      font-size: 0.65rem;
   }

   .profileRatingsContent p {
      font-size: 0.65rem;
   }

   .profileSpecialities p {
      font-size: 0.65rem;
   }
   .profileHospital p {
      font-size: 0.65rem;
   }
   .profileButton button {
      font-size: 0.6rem;
      padding: 0.7rem 0.6rem;
      border-radius: 0.2rem;
   }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
   .profileBody {
      width: 55%;

      height: 35rem;
      min-height: 35rem;
      max-height: 35rem;
      margin: 0 auto;
   }
   .profileImage {
      height: 12rem;
      width: 10rem;
   }
   .profileDetails h3 {
      font-size: 1rem;
   }

   .profileDetails p {
      font-size: 0.8rem;
   }

   .profileRatings h3 {
      font-size: 1rem;
   }
   .profileRatingsContent p {
      font-size: 0.8rem;
   }
   .profileSpecialities h3 {
      font-size: 1rem;
   }
   .profileSpecialities p {
      font-size: 0.8rem;
   }
   .profileHospital h3 {
      font-size: 1rem;
   }
   .profileHospital p {
      font-size: 0.8rem;
   }
   .profileButton {
      padding-bottom: 2rem;
   }
   .profileButton button {
      font-size: 0.6rem;
      padding: 0.7rem 0.6rem;
      border-radius: 0.2rem;
   }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   .profileBody {
      width: 80%;

      height: 38rem;
      min-height: 38rem;
      max-height: 38rem;
      margin: 0 auto;
   }
   .profileImage {
      height: 12rem;
      width: 10rem;
   }
   .profileDetails h3 {
      font-size: 1rem;
   }

   .profileDetails p {
      font-size: 0.8rem;
   }

   .profileRatings h3 {
      font-size: 1rem;
   }
   .profileRatingsContent p {
      font-size: 0.8rem;
   }
   .profileSpecialities h3 {
      font-size: 1rem;
   }
   .profileSpecialities p {
      font-size: 0.8rem;
   }
   .profileHospital h3 {
      font-size: 1rem;
   }
   .profileHospital p {
      font-size: 0.8rem;
   }
   .profileButton {
      padding-bottom: 2rem;
   }
   .profileButton button {
      font-size: 0.7rem;
      padding: 0.7rem 0.6rem;
      border-radius: 0.2rem;
   }
}
