#hero_body {
   width: 100%;
   height: 45rem;
   padding-top: 6rem;
   background-color: var(--gray);
   padding-left: 4rem;
   padding-right: 4rem;
}

.hero_container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.hero_wrapper {
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero_content {
   display: flex;
   gap: 1rem;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--gray);
}

.content__title {
   font-family: var(--mainfont);
   color: var(--white);
   font-size: 25px;
   text-align: center;
}

.content_info {
   max-height: 10rem;
}

.content__info {
   font-size: 16px;
   font-family: var(--mainfont);
   color: var(--white);
   width: 100%;
}

.content_button {
   padding-top: 1.7rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content__button {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 3rem;
   padding: 10px;
   font-weight: 500;
   color: var(--white);
   text-align: center;
   background-color: var(--lightcol);
   border: none;
   border-radius: 4px;
   outline: none;
   cursor: pointer;
   font-size: 16px;
   font-family: var(--mainfont);
   letter-spacing: 0.3px;
   transition: all;
   transition-duration: 500ms;
}

.content__button:hover {
   transform: translateY(-3px);
   background-color: #3fb3c7;
}

.hero_image {
   padding-top: 2rem;
   width: 50%;
   max-height: 100%;
   padding-right: 20px;
   pointer-events: none;
}

/* .hero__image {
   width: 100%;
   pointer-events: none;
} */

/* ========================== covers the background image on mobile screens ========================= */
@media (max-width: 368px) {
   #hero_body {
      background-image: url('../../../assets/maleDoctor.jpg');
      background-repeat: no-repeat;
      background-position: 40% 65px;
      background-size: cover;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      /* padding-bottom: 10rem; */
   }

   #overlay {
      position: absolute;
      inset: 0;
      background-color: black;
      opacity: 85%;
   }

   .content__button {
      width: 100%;
   }

   .hero_image {
      display: none;
   }
}

@media (min-width: 368px) and (max-width: 959px) {
   #hero_body {
      background-image: url('../../../assets/maleDoctor.jpg');
      background-repeat: no-repeat;
      background-position: 30% 65px;
      background-size: cover;
      width: 100%;
      position: relative;
   }

   #overlay {
      position: absolute;
      inset: 0;
      background-color: black;
      opacity: 85%;
   }

   .hero_content {
      position: absolute;
      color: var(--gray);
      width: 80%;
      height: 70%;
      right: 40px;
      top: 100px;
   }

   .content__button {
      width: fit-content;
   }

   .hero_image {
      display: none;
   }
}

@media (min-width: 600px) {
   .hero_content {
      position: absolute;
      color: var(--gray);
      width: 80%;
      height: 70%;
      right: 70px;
      top: 120px;
      display: flex;
      flex-direction: column;
   }

   .content__title {
      font-size: 30px;
   }
}

@media (min-width: 960px) {
   #hero_body {
      padding-top: 0;
      height: 60rem;
   }
   .hero_container {
      padding-top: 5rem;
      height: 100%;
   }

   .hero_wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 5%;
   }

   .hero_content {
      color: var(--midcol);
      position: initial;
      width: 50%;
      height: 30rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
   }

   .hero_image {
      padding-top: 4rem;
      width: 50%;
      padding-right: 20px;
      height: 100%;
      position: relative;
      overflow: hidden;
   }

   .hero__image {
      width: 100%;
      overflow: hidden;
      display: absolute;
      bottom: 0;
      float: right;
      height: 100%;
   }

   .content__title {
      color: var(--deepcol);
      text-align: left;
      font-size: 25pt;
   }

   .content__info {
      font-size: 15pt;
      color: var(--deepcol);
   }

   .content_button {
      justify-content: flex-start;
      padding-top: 3rem;
   }
}

@media (min-width: 1024px) {
   .content__button {
      width: 25rem;
   }
}

@media (min-width: 1200px) {
   #hero_body {
      width: 100%;
      /* height: 50rem; */
      background-color: var(--gray);
      padding-left: 4rem;
      padding-right: 4rem;
   }

   .content__title {
      font-size: 30pt;
      font-weight: 600;
   }

   .content__title {
      font-size: 30pt;
      font-weight: 600;
   }

   /* .hero_image {
      padding-top: 8rem;
      width: 50%;
      float: right;
      overflow: hidden;
      margin-left: 2rem;
   }

   .hero__image {
      width: 100%;
      overflow: hidden;
   } */

   .hero_content {
      padding-bottom: 7rem;
   }
}
/* 
@media (min-width: 1400px) {
   #hero_body {
      height: 80rem;
   }
} */
