.main {
   padding-top: 5rem;
   padding-right: 2rem;
   padding-left: 2rem;
   color: var(--deepcol);
   font-size: 16px;
}

.upper_part {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
}

.title {
   font-size: 27px;
   font-weight: 700;
   color: var(--deepcol);
}

.p_text {
   text-align: center;
}

.h_line {
   width: 40%;
   height: 4px;
   background: var(--lightcol);
   margin-bottom: 2rem;
}

.lower_section {
   display: flex;
   flex-direction: column;
   gap: 7rem;
   padding-bottom: 7rem;
   padding-top: 3rem;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2rem;
}

.with_text {
   display: block;
}

.with_text_title {
   font-size: 19px;
   font-weight: 800;
}

.with_text_desc {
   font-weight: 600;
}

.of_image {
   width: 100%;
   height: 100%;
}

.of__image {
   object-fit: cover;
   width: 100%;
   height: 25rem;
   border-radius: 20px;
}

/* media query for 768px */
@media (min-width: 768px) {
   .upper_part {
      padding-left: 3rem;
      padding-right: 3rem;
   }

   .title {
      font-size: 50px;
   }

   .lower_section {
      padding-right: 6rem;
      padding-left: 6rem;
   }

   .p_text {
      font-size: 20px;
   }

   .with_text_title {
      font-size: 27px;
   }

   .with_text_desc {
      font-size: 20px;
   }

   .with_text_content {
      font-size: 20px;
   }
}

/* ================ media query for 1024px ================= */
@media (min-width: 1024px) {
   .upper_part {
      padding-left: 12rem;
      padding-right: 12rem;
   }

   .container {
      flex-direction: row;
      height: 25rem;
      gap: 5rem;
   }
}
