.main {
   padding: 0 12px 3rem 12px;
}

#profileBody {
   margin-top: 2rem;
}

.upperContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 0.5rem;
   width: 100%;
}

.profileIntro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.profileName {
   color: var(--midcol);
   text-align: center;
}

.uploadImageBtn label {
   background-color: var(--lightcol);
   color: var(--white);
   padding: 0.2rem 0.3rem;
   font-weight: 300;
   outline: none;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 0.8rem;
}

.personalInfo {
   width: 100%;
   margin-top: 2rem;
   text-transform: capitalize;
}

.title {
   color: var(--deepcol);
   font-size: 1.3rem;
   padding-bottom: 0.8rem;
   letter-spacing: 1px;
}
/* Section for personal info */
form.personalInfoFormBox {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* First name , middle name and lastname */
.forFirst {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

/* Email, date-of-birth and Gender */
.forSecond {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

/* House address */
.forThird {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

.profileFormBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4px;
   height: max-content;
   min-height: max-content;
   max-height: max-content;
   place-items: center;
   width: 100%;
}

.profileFormBox h3 {
   font-size: 0.8rem;
   color: var(--deepcol);
   font-weight: 600;
   letter-spacing: 0.7px;
}

.formBoxNameInputs {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.input_box {
   border: 0.2px solid var(--formboxoutline);
   padding: 0.3rem 12px;
   width: 100%;
   height: 2rem;
   border-radius: 5px;
   background-color: var(--white);
   outline: none;
   height: 100%;
   line-height: 1;
   font-weight: 400;
   font-size: 0.8rem;
   color: rgba(0, 0, 0, 0.7);
}

/* BUG: the dropdown arrow is not aligned; */
.select {
   width: 100%;
   height: 2rem;
   position: relative;
   display: flex;
   float: right;
   line-height: 1;
   overflow: hidden;
   text-decoration: none;
}

.formBoxNameInputs .select select {
   width: 100%;
   height: 100%;
   color: rgba(0, 0, 0, 0.7);
   padding: 0rem 0.4rem;
   border-radius: 0.2rem;
   -webkit-appearance: none;
   -moz-appearanace: none;
   -ms-appearance: none;
   appearance: none;
   outline: none;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
   flex: 1;
   cursor: pointer;
}
select::-ms-expand {
   display: none;
}

.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.1rem 0.5rem;
   color: rgba(0, 0, 0, 0.7);
   cursor: pointer;
   pointer-events: none;
   transition: 0.25s all ease;
}

.select select::part(button) {
   padding: 0 1rem;
}

.select select::part(listbox) {
   border: none;
}

.proffInfo {
   width: 100%;
   margin-top: 2rem;
   text-transform: capitalize;
}

.btn_div {
   width: 100%;
   display: flex;
   justify-content: center;
}

.btn {
   margin-top: 2rem;
   padding: 5px 1rem;
   color: var(--white);
   background: var(--lightcol);
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: opacity 4s;
}

.icon {
   display: none;
}

.btn:focus {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--deepcol);
   border-radius: 50%;
}

.btn:focus .btn_text {
   display: none;
}

.btn:focus .icon {
   display: inline;
   color: white;
}

/* media query for 480px */
@media (min-width: 800px) {
   .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 6rem;
      padding-left: 2rem;
   }

   #profileBody {
      width: 100%;
   }

   .profileImage {
      height: 4rem;
      width: 4rem;
   }

   .upperContent {
      flex-direction: row;
      gap: 1rem;
   }

   .profileIntro {
      align-items: flex-start;
   }

   .personal_and_proff {
      display: flex;
      gap: 2rem;
      width: 100%;
   }
}

@media (min-width: 1024px) {
   .main {
      margin-left: 16rem;
   }

   .upperContent {
      align-items: flex-start;
      justify-content: flex-start;
   }
   .personal_and_proff {
      flex-direction: column;
   }

   .personalInfoFormBox {
      gap: 2rem;
   }

   .forFirst {
      flex-direction: row;
      gap: 3rem;
   }

   .forSecond {
      flex-direction: row;
   }

   .forThird {
      flex-direction: row;
      width: 30%;
   }

   .profileFormBox {
      align-items: flex-start;
   }

   .proffBox {
      display: flex;
      gap: 2rem;
   }
}

/* 
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(1) {
   width: 80%;
   justify-self: start;
}

#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(2) {
   width: 80%;
   justify-self: start;
}
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(3) {
   width: 80%;
   justify-self: start;
}
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(4) {
   width: 80%;
   justify-self: start;
}

#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(5) {
   width: 95%;
   justify-self: start;
}
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(6) {
   width: 85%;
   justify-self: end;
}
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(7) {
   width: 80%;
   justify-self: start;
}

#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(8) {
   width: 80%;
   justify-self: start;
}
#profileBody .healthInfo form.healthInfoFormBox div.healthFormBox:nth-child(9) {
   width: 70%;
   justify-self: start;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
   #profileBody {
      width: 137%;
      min-width: 137%;
      max-width: 137%;
   }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   #profileBody {
      margin-top: 4rem;
      padding: 1rem 1rem 0 01rem;
      width: 140%;
      min-width: 140%;
      max-width: 140%;
   }
   .upperContent {
      width: 90%;
      height: 13%;
      justify-content: space-between;
   }
   .profileIntro {
      width: 80%;
   }
   .profileFormBox h3 {
      font-size: 0.7rem;
   }
   .select::after {
      font-size: 0.8rem;
      padding: 0.25rem 0.5rem;
   }
   .healthFormBox h3 {
      font-size: 0.7rem;
   }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
   #profileBody {
      margin-top: 4rem;
      padding: 1rem 1rem 0 01rem;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
   }
   .upperContent {
      height: 5rem;
      width: 90%;
      display: block;
   }
   .profileIntro {
      width: 70%;
      height: 80%;
      padding: 0.2rem 0;
      padding-left: 2rem;
      float: left;
   }
   form.personalInfoFormBox {
      width: 100%;
      height: 90%;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(1) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(2) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(3) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(4) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(5) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(6) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(7) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(8) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(9) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(10) {
      justify-self: start;
   }
   .healthInfo {
      margin-top: 3rem;
   }
   form.healthInfoFormBox {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 2rem;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(1) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(2) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(3) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(4) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(5) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(6) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(7) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(8) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(9) {
      justify-self: start;
   }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   #profileBody {
      margin-top: 4rem;
      padding: 1rem 1rem 0 01rem;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
   }
   .upperContent {
      height: 5rem;
      width: 100%;
      display: block;
   }
   .profileImage {
      width: 4rem;
      height: 100%;
      float: left;
      border-radius: 50%;
   }
   .profileIntro {
      width: 70%;
      height: 80%;
      padding: 0.2rem 0;
      padding-left: 2rem;
      float: left;
   }
   .profileName h2 {
      font-size: 1rem;
   }
   form.personalInfoFormBox {
      width: 100%;
      height: 90%;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(1, 1fr);
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(1) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(2) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(3) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(4) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(5) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(6) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(7) {
      justify-self: start;
   }

   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(8) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(9) {
      justify-self: start;
   }
   #profileBody
      .personalInfo
      form.personalInfoFormBox
      div.profileFormBox:nth-child(10) {
      justify-self: start;
   }
   .healthInfo {
      margin-top: 5rem;
   }
   form.healthInfoFormBox {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 2rem;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(1) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(2) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(3) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(4) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(5) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(6) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(7) {
      justify-self: start;
   }

   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(8) {
      justify-self: start;
   }
   #profileBody
      .healthInfo
      form.healthInfoFormBox
      div.healthFormBox:nth-child(9) {
      justify-self: start;
   }
} */
