.main {
   /* display: none; */
   /* width: 15rem; */
   min-width: 250px;
   width: 100%;
   height: calc(100vh - 5rem);
   max-height: 2000px;
}

.patientsSection {
   min-width: 250px;
   width: 100%;
   background-color: #ecf3fc;
   border-radius: 1.25rem;
   height: 100%;
   padding-top: 2rem;
   z-index: 100;
}

.patientsSection::-webkit-scrollbar,
.patientsSection::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.patientsSection::-webkit-scrollbar-track,
.patientsSection::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.patientsSection::-webkit-scrollbar-thumb,
.patientsSection::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

.patientsSection h2 {
   color: #0d3f58;
   text-align: center;
}
.patientsSection li {
   font-weight: 600;
   color: #0d3f58;
   font-size: 1rem;
}

.imageDiv {
   width: 90%;
   margin: 15px 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 2rem;
   width: 95%;
   cursor: pointer;
}
.imageDiv img {
   margin: 0 20px;
   width: 40px;
   height: 40px;
   clip-path: circle();
}

.name {
   text-align: left;
   width: 100%;
   display: flex;
   align-items: center;
}

.menu {
   display: none;
}

.close {
   display: none;
}

@media (min-width: 920px) {
   .main {
      display: block;
   }
}

@media (max-width: 1200px) {
   .patientsSection {
      grid-column: 1/2;
      overflow: scroll;
      border-radius: 20px;
   }
   .show {
      border-radius: 0;
      display: block;
   }
   .hide {
      display: none;
      position: absolute;
      right: -40rem;
   }
   .menu {
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 99;
   }
   .patientsSection {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
   }
   .close {
      display: block;
      color: var(--midcol);
      cursor: pointer;
   }
   .logo_close {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      justify-content: space-between;
   }
   .logo_close h2 {
      padding-left: 42.5%;
   }
}
@media (max-width: 1024px) {
   .patientsSection {
      overflow-y: scroll;
   }
   .patientsSection ul {
      text-align: center;
      padding-left: 0;
   }
   .imageDiv {
      width: 90%;
   }
   .patientsSection::-webkit-scrollbar,
   .patientsSection::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
      cursor: pointer;
   }
   .patientsSection li {
      font-size: 0.9rem;
   }
   .patientsSection::-webkit-scrollbar-track,
   .patientsSection::-webkit-scrollbar-track {
      margin: 20px;
      cursor: pointer;
      --webkit-box-shadow: inset 0 0 10px var(--white);
   }
   .patientsSection::-webkit-scrollbar-thumb,
   .patientsSection::-webkit-scrollbar-thumb {
      background-color: var(--lightcol);
      border-radius: 10%;
      cursor: pointer;
   }
}
@media (max-width: 800px) {
   .patientsSection {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
   }

   .patientsSection ul {
      width: 50%;
      min-width: 300px;
   }

   .logo_close {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
   }

   /* .logo {
   font-size: 20px;
   color: var(--lightcol);
   font-weight: 600;
   font-family: var(--logofont);
   padding-left: 10px;
} */
   .close {
      display: block;
      color: var(--midcol);
      cursor: pointer;
   }
}
/* made changes here */
@media (max-width: 425px) {
   .logo_close h2 {
      padding-left: 30%;
   }
}

@media (max-width: 375px) {
   .patientsSection::-webkit-scrollbar,
   .patientsSection::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
      cursor: pointer;
   }
   .patientsSection::-webkit-scrollbar-track,
   .patientsSection::-webkit-scrollbar-track {
      margin: 20px;
      cursor: pointer;
      --webkit-box-shadow: inset 0 0 10px var(--white);
   }
   .patientsSection::-webkit-scrollbar-thumb,
   .patientsSection::-webkit-scrollbar-thumb {
      background-color: var(--lightcol);
      border-radius: 10%;
      cursor: pointer;
   }
   .logo_close h2 {
      padding-left: 30%; /*made change here*/
   }
}
@media (max-width: 320px) {
   .patientsSection {
      width: 100%;
   }
}
