.main {
   position: absolute;
   height: 10rem;
   width: 100%;
   color: var(--white);
   top: 3rem;
   bottom: 0;
   border-radius: 20px;
   padding-right: 20px;
   padding-left: 20px;
   /* padding-top: 15px; */
   padding-bottom: 15px;
}

.sub_main {
   width: 100%;
   height: 100%;
}

.list {
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
   color: white;
}
.list_last {
   color: white;
   cursor: pointer;
}

.list_first {
   color: var(--white);
   font-weight: bolder;
}

@media (min-width: 768px) {
   .main {
      position: absolute;
      height: 10rem;
      width: 10rem;
      background: var(--gray);
      color: var(--midcol);
      top: 5rem;
      bottom: 0;
      border-radius: 20px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: 0 2px 15px 0 #bedded;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
   }

   .sub_main {
      width: 100%;
      height: 100%;
   }

   .list {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
   }

   .list_first {
      color: var(--deepcol);
      font-weight: bolder;
   }

   .list_last {
      color: var(--midcol);
   }
}
