footer {
   /* margin-top: 450px; */
   background-color: #ecf3fe;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding-top: 50px;
   padding-bottom: 100px;
}
.logo {
   width: 25%;
}
.logo span {
   font-family: 'Comfortaa', cursive;
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 45px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: -0.015em;

   color: #05a6c2;
}
.logo p {
   margin-top: 10px;
   width: 77%;
   font-weight: 500;
   font-size: 1.05em;
}
.socialmedia {
   display: flex;
   justify-content: space-between;
   width: 70%;
   margin-top: 30px;
}
div h2 {
   color: #0d3f58;
   font-family: sans-serif;
   margin-bottom: 25px;
   font-size: 1.2em;
   letter-spacing: -1px;
}
div li:hover {
   transition: all 0.1s ease-in;
   transform: translate(2px, 0px);
}
.socialmedia span {
   border-radius: 100px;
   display: flex;
   border: 1px solid #05a6c2;
   padding: 11px 12px;
   justify-content: center;
   align-items: center;
}
.socialmedia span:hover {
   background-color: #05a6c2;
}
.socialmedia span:hover .insta {
   fill: #ecf3fe;
}
.socialmedia span:hover .twit {
   fill: #ecf3fe;
}
.socialmedia span:hover .linked {
   fill: #ecf3fe;
}
.insta {
   fill: #05a6c2;
   font-size: 25px;
}
.linked {
   fill: #05a6c2;
   font-size: 25px;
}
.twit {
   fill: #05a6c2;
   font-size: 25px;
}
div li a {
   color: #0d3f58;
   font-weight: 500;
   text-decoration: none;
}

div li a:hover {
   color: #2b6777;
}
div li {
   line-height: 1.8;
   margin: 0;
}
.contact ul li {
   margin-bottom: 20px;
}

/*responsive*/
@media (max-width: 1112px) {
   footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 70px;
      justify-items: center;
      padding-bottom: 30px;
   }
   .contact {
      grid-column: 3/4;
      grid-row: 1/2;
   }
   .logo {
      grid-column: 2/3;
      grid-row: 2/3;
      width: 100%;
      justify-self: center;
      color: #0d3f58;
   }
   .logo p {
      margin-top: 20px;
      width: 95%;
      margin-bottom: 30px;
      text-align: center;
   }
   span.logo {
      justify-content: center;
   }
   .socialmedia {
      margin: auto;
      width: 300px;
   }
}

@media (max-width: 756px) {
   div h2 {
      font-size: 30px;
      text-align: center;
   }
   .ourservices ul li {
      text-align: center;
      width: 400px;
      font-size: 20px;
      margin-bottom: 10px;
      border-bottom: 1px #0d3f58 solid;
      font-size: 20px;
   }
   .contact ul li {
      font-size: 20px;
   }
   .support ul li {
      text-align: center;
      width: 400px;
      font-size: 20px;
      margin-bottom: 10px;
      border-bottom: 1px #0d3f58 solid;
   }

   footer {
      display: grid;
      grid-template-columns: repeat(1, 3fr);
      gap: 50px 0px;
   }
   .ourservices {
      grid-column: 2/3;
      grid-row: 1/2;
   }
   .support {
      grid-column: 2/3;
      grid-row: 2/3;
   }
   .contact {
      grid-column: 2/3;
      grid-row: 4/5;
   }
   .logo {
      grid-columns: 2/3;
      grid-row: 3/4;
   }
   .logo p {
      width: 50%;
      margin: 30px auto;
   }

   .dropdown1 {
      transform: translateY(0);
      transition-delay: 0s, 0s, 0.3s;
   }
}
