@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Poppins:wght@300;400;500;700;800&display=swap');

:root {
   --white: #ffffff;
   --gray: #ecf3fe;
   --lightcol: #05a6c2;
   --midcol: #2b6777;
   --deepcol: #0d3f58;
}

#hero-body {
   width: 100%;
   min-height: 100vh;
   padding-top: 6rem;
   background-color: var(--gray);
   padding-left: 4rem;
   padding-right: 4rem;
}

.hero-container {
   width: 100%;
   display: block;
   margin: 0 auto;
   max-height: 100%;
}

.hero-content {
   padding-top: 2rem;
   width: 50%;
   height: 60vh;
   float: left;
}

.content-title h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
}
.content-info {
   padding-top: 1.2rem;
}
.content-info p {
   font-size: 2rem;
}

.content-button {
   padding-top: 1.2rem;
}
.content-button input {
   display: block;
   width: 40%;
   padding: 1% 5% 1% 5%;
   font-weight: 600;
   color: var(--white);
   background-color: var(--lightcol);
   border: none;
   border-radius: 4px;
   outline: none;
   cursor: pointer;
   font-size: 1.1rem;
}

/* ========================== mobile view ========================= */

@media (min-width: 320px) and (max-width: 960px) {
   #hero-body {
      background-image: url('../../../assets/maleDoctor.jpg');
      background-repeat: no-repeat;
      background-position: 5% 65px;
      background-size: cover;
      width: 100%;
   }

   .hero-image {
      display: none;
   }
}

@media screen and (min-width: 960px) {
   .hero-image {
      padding-top: 2rem;
      width: 50%;
      float: right;
      height: 100vh;
      padding-right: 20px;
   }

   .hero-image img {
      width: 100%;
   }
}
