:root {
   --white: #ffffff;
   --gray: #ecf3fe;
   --lightcol: #05a6c2;
   --midcol: #2b6777;
   --deepcol: #0d3f58;
}

* {
   color: var(--midcol);
}
/* main nav */
#nav {
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   background-color: #ecf3fe;
   min-height: 3rem;
   top: 0;
   z-index: 1;
}

#img {
   cursor: pointer;
}

/* nav-links */
#nav-links {
   display: block;
   position: relative;
   left: 15rem;
}

.link-container {
   display: flex;
   flex-direction: column;
   text-align: right;
   height: 100vh;
   width: 73%;
   align-items: right;
   justify-content: right;
   background-color: var(--lightcol);
   color: var(--white);
   position: absolute;
   right: -100%;
   top: 0;
   padding-top: 2rem;
   padding-left: 2rem;
   padding-right: 5rem;
   transition: all;
   transition-duration: 500ms;
   /* display: none; */
}

.link-container.active {
   right: 0;
   transition: all;
   transition-duration: 500ms;
}

li {
   cursor: pointer;
   list-style-type: none;
   margin-top: 2rem;
}

#signup ul li {
   display: inline-block;
   padding: 1rem;
}

/* ===================================================mobile style============== */
@media screen and (min-width: 640px) {
}

/* ===================================================tablet style============== */
@media screen and (min-width: 960px) {
   #nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 3rem;
      background-color: var(--gray);
   }

   .link-container {
      display: flex;
      /* flex-direction: row; */
      width: 100%;
      /* text-align: center; */
      position: unset;
      background-color: var(--gray);
      align-items: center;
      justify-content: center;
      color: var(--lightcol);
      height: 3rem;
      padding: 0;
      padding-bottom: 1.6rem;
      padding-left: 7rem;
      margin-left: 3px;
   }

   #nav-links {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;
   }

   .left-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }
   #close {
      display: none;
   }
   #menu {
      display: none;
   }
}

/* ===================================================desktop style============== */
@media screen and (min-width: 1024px) {
   #nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4rem;
      padding-right: 4rem;
   }

   #nav-links {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
