@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Poppins:wght@300;400;500;700;800&display=swap');

:root {
   --white: #ffffff;
   --gray: #ecf3fe;
   --lightcol: #05a6c2;
   --midcol: #2b6777;
   --deepcol: #0d3f58;
}

/* main nav */
* {
   font-family: 'Poppins', sans-serif;
}
#nav {
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   background-color: #ecf3fe;
   height: 3rem;
   z-index: 1;
}

/* nav-links */
#nav_links {
   display: block;
}

.linkContainer {
   display: flex;
   flex-direction: column;
   text-align: right;
   height: 100vh;
   width: 73%;
   align-items: right;
   justify-content: right;
   background-color: var(--lightcol);
   position: absolute;
   right: -100%;
   top: 0;
   padding-top: 2rem;
   padding-left: 2rem;
   padding-right: 5rem;
   transition: all;
   transition-duration: 500ms;
   /* display: none; */
}

.linkContainer.active {
   right: 0;
   transition: all;
   transition-duration: 500ms;
}

li {
   cursor: pointer;
   list-style-type: none;
   margin-top: 2rem;
   font-family: 'Poppins', sans-serif;
}

.left {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: right;
   width: 100%;
}

#signup {
   padding-top: 2rem;
   color: var(--white);
   cursor: pointer;
}

#signup .signup_list {
   font-weight: 500;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 0.05em;
   cursor: pointer;
   display: flex;
   align-items: center;
   color: var(--deepcol);
}

/* ===================================================mobile style============== */
@media (min-width: 300px) {
   #img img {
      width: 7rem;
   }

   .each {
      font-size: 12pt;
      color: var(--white);
   }
}

/* ===================================================tablet style============== */
@media (min-width: 960px) {
   /* * {
      color: var(--midcol);
   } */

   #nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
      height: 3rem;
      background-color: var(--gray);
   }

   .linkContainer {
      display: flex;
      /* flex-direction: row; */
      width: 100%;
      /* text-align: center; */
      position: unset;
      background-color: var(--gray);
      align-items: center;
      justify-content: center;
      height: 3rem;
      padding: 0;
      /* padding-bottom: 1.6rem; */
      padding-left: 7rem;
      margin-left: 3px;
   }

   #nav_links {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 2rem;
   }

   /* #nav_links li {
      color: var(--midcol);
      font-size: medium;
   } */
   .each {
      white-space: nowrap;
      color: var(--midcol);
      font-size: medium;
   }
   .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
   }
   #close {
      display: none;
   }
   #menu {
      display: none;
   }

   #separator {
      margin-left: 0.5em;
      margin-right: 0.5em;
      cursor: default;
   }
   #signup {
      white-space: nowrap;
      margin-top: -2rem;
   }
}

/* ===================================================desktop style============== */
@media (min-width: 1024px) {
   #nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 4rem;
      padding-right: 4rem;
      position: fixed;
   }

   #nav_links {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      /* margin-right: 10%; */
      width: 90%;
   }

   /* .linkContainer {
      margin-right: 30%;
   } */

   /* .left {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000;
   } */

   li.each {
      white-space: nowrap;
      font-size: 12pt;
   }

   #signup {
      width: auto;
      white-space: nowrap;
   }

   .signup_list {
      font-size: 12pt;
   }
}

/* @media (min-width: 1200px) {
   #nav {
      display: flex;
      align-items: center;
      justify-content: space-cent;
      padding-left: 4rem;
      padding-right: 4rem;
      position: fixed;
   }

   #nav_links {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40%;
      width: 90%;
   }

   .linkContainer {
      margin-right: 20%;
      margin-left: 8rem;
   }

   .left {
      width: auto;
   }

   li.each {
      white-space: nowrap;
   }

   #signup {
      width: auto;
      padding-right: 15%;
      white-space: nowrap;
   }
} */
