.main {
   padding: 5%;
   background-color: var(--white);
}
.title {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
   width: 100%;
}

.caption {
   text-transform: capitalize;
   font-weight: bold;
   letter-spacing: 0.4px;
   color: var(--deepcol);
   font-size: x-large;
   text-align: center;
}

.cards {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 3rem;

   width: 100%;
}

.card {
   background-color: var(--white);
   box-shadow: 1px 4px 6px 1px rgba(243, 238, 238, 0.6),
      1px 5px 4px 2px rgba(65, 1, 144, 0.1);
   border-radius: 20px;
   height: 20rem;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--deepcol);
}

.setCol {
   fill: var(--lightcol);
   font-size: 2rem;
}

.heading {
   font-weight: bold;
}

.about {
}

.LearnMore {
   display: flex;
   align-items: center;
   gap: 6px;
   color: var(--lightcol);
}

.join_us {
   padding-top: 5rem;
}

.groupdocpic {
   display: none;
}

.firstp {
   text-transform: uppercase;
   color: var(--lightcol);
}

.secondp {
   text-transform: capitalize;
   font-size: x-large;
   font-weight: 600;
   color: var(--deepcol);
}

.left__div {
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: center;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 1rem;
}
.contact__btn {
   padding: 5px;
   background-color: var(--lightcol);
   width: 15rem;
   color: var(--white);
   border-radius: 5px;
}

@media (min-width: 600px) {
   .cards {
      grid-template-columns: repeat(2, 1fr);
   }

   .title {
      font-size: x-large;
   }

   .join_us {
      display: flex;
   }
}

@media (min-width: 900px) {
   .cards {
      grid-template-columns: repeat(3, 1fr);
   }

   .title {
      font-size: xx-large;
      padding-bottom: 30px;
   }
}

@media (min-width: 1024px) {
   .groupdocpic {
      display: block;
      width: 60%;
   }

   .left__div {
      width: 40%;
   }
   .groupdoc {
      object-fit: fill;
      width: 100%;
      border-radius: 0 15px 15px 0;
   }

   .btn {
      display: block;
   }
}
