#services_body {
   width: 100%;
   padding-top: 3rem;
   padding-bottom: 6rem;
   background-color: var(--white);
}

.services_title {
   font-family: var(--mainfont);
   font-weight: bold;
   font-size: x-large;
   text-align: center;
   color: var(--deepcol);
   padding-bottom: 20px;
}

.services_button {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   padding-bottom: 4rem;
}

.services_button_input {
   padding: 10px;
   width: 16rem;
   background-color: var(--lightcol);
   color: var(--white);
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   font-size: 12pt;
   border: 0;
   border-radius: 10px;
   letter-spacing: 0.2px;
}

.services_button_input:hover {
   background-color: var(--white);
   color: var(--lightcol);
   transition: all;
   transition-duration: 500ms;
}

.services_message {
   display: none;
}

.services_doctors_box {
   padding: 5%;
   display: grid;
   grid-template-columns: repeat(1fr);
   gap: 3rem;
   justify-content: center;
   width: 100%;
}

.card {
   display: flex;
   flex-direction: column;
   background-color: var(--midcol);
   width: 100%;
   height: 16rem;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0 2px 15px 0 #b8e5ff;
}

.img {
   overflow: hidden;
   width: 100%;
   background-size: cover;
}

.services_doctor_info {
   background: var(--white);
   width: 100%;
   margin: 0 auto;
   padding: 0.5rem;
   font-family: 'Poppins', sans-serif;
   border-radius: 0 0 20px 20px;
   color: var(--midcol);
}

.services_doctor_info_h4 {
   text-align: center;
   font-size: 18px;
   font-weight: 900;
   color: var(--deepcol);
   padding: 0.3rem;
   letter-spacing: 0.6px;
}

.services_doctor_info_p {
   text-align: center;
   letter-spacing: 1px;
}

@media (min-width: 600px) {
   .services_title {
      font-size: 30px;
   }
}

@media (min-width: 700px) {
   .services_doctors_box {
      padding: 5%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   .services_button_input {
      width: 20rem;
   }
}

@media (min-width: 900px) {
   .services_title {
      font-size: 35px;
   }
}

@media (min-width: 980px) {
   .services_title {
      width: 100%;
      font-size: 27pt;
   }
   .services_doctors_box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
}

@media (min-width: 1024px) {
   .services_title {
      width: 100%;
      font-size: 35px;
   }
   .services_doctors_box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   .card {
      height: 18rem;
   }

   .services_message {
      display: block;
      padding: 2rem;
      padding-left: 6rem;
      padding-right: 6rem;
   }

   .services_message_box {
      display: flex;
      position: relative;
      background: var(--lightcol);
      border-radius: 35px;
   }

   .services_message_info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 10rem;
      padding-bottom: 3rem;
   }

   .services_ad {
      color: var(--white);
      font-size: 30px;
      font-weight: 700;
      font-family: var(--mainfont);
      width: 70%;
      letter-spacing: 0.3px;
      padding-top: 1rem;
   }

   .message_btn {
      font-family: var(--mainfont);
      font-weight: bold;
      color: var(--lightcol);
      padding: 10px;
      width: 40%;
      border-radius: 5px;
      background: var(--white);
   }
   .message_btn:hover {
      background: var(--lightcol);
      color: var(--white);
      transition: all;
      transition-duration: 500ms;
   }
   .circle_1 {
      position: absolute;
      bottom: -4rem;
      left: -7rem;
      height: 12rem;
      width: 12rem;
      border-radius: 50%;
      border: 1px solid var(--white);
      background: transparent;
   }

   .circle_2 {
      position: absolute;
      right: -5rem;
      top: -5rem;
      height: 15rem;
      width: 14rem;
      border-radius: 50%;
      background: transparent;

      border: 1px solid var(--white);
   }

   .square {
      position: relative;
      width: 40%;
   }
   .square_2 {
      position: absolute;
      right: 0;
      height: 8rem;
      width: 7rem;
      border-radius: 0 0 0 90px;
      background: var(--white);
      opacity: 40%;
   }
}
@media (min-width: 1200px) {
   .services_doctors_box {
      gap: 10rem;
   }

   .services_ad {
      font-size: 35px;
      padding-top: 2rem;
   }
   .services_message {
      display: block;
      padding: 2rem;
      padding-left: 6rem;
      padding-right: 6rem;
   }
}
