@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* @media (min-width: 1920px) { */
/* .max_div {
   max-width: 1920px;
   margin: auto;
} */
/* } */

.userbody {
   width: 100%;
   height: 100vh;
   background-color: var(#f6f6f9);
   overflow: hidden;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
}
#blur.active {
   filter: blur(5px);
   pointer-events: none;
   user-select: none;
   overflow: hidden;
}
#blur {
   position: relative;
   width: 100%;
   max-height: 100vh;
}

:root {
   --white: #ffffff;
   --gray: #ecf3fe;
   --lightcol: #05a6c2;
   --midcol: #2b6777;
   --deepcol: #0d3f58;
   --tablehead: #c2c9d1;
   --iconred: #dd7678;
   --iconback: #f7eef0;
   --logofont: 'Comfortaa', cursive;
}

* {
   margin: 0;
   padding: 0;
   outline: 0;
   appearance: 0;
   border: 0;
   text-decoration: 0;
   list-style: none;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container {
   display: grid;
   width: 96%;
   height: 100vh;
   min-height: 100vh;
   max-height: 100vh;
   margin: 0 auto;
   gap: 1rem;
   grid-template-columns: 14rem auto 18rem;
}

/* RIGHTSIDE */
.right {
   /* margin-top: 0.4rem; */
}
.right .profile {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   text-align: right;
   gap: 0.9rem;
   height: 2.5rem;
   margin: 0.5rem 0;
}
.menu {
   display: none;
}

.profileImage {
   width: 2.5rem;
   max-width: 2.5rem;
   min-width: 2.5rem;
   height: 2.5rem;
   max-height: 2.5rem;
   min-height: 2.5rem;
}
.profileImage img {
   width: 100%;
   height: 100%;
   clip-path: circle();
}
.info {
   font-size: 1rem;
   color: var(--deepcol);
   font-weight: 700;
   text-transform: capitalize;
}
@media (min-width: 2001px) {
   /* .container {
      width: 98%;
      grid-template-columns: 15rem auto 20rem;
   } */
   .userbody {
      max-width: 2001px;
      margin: 0 auto;
   }
   .info {
      font-size: 20px;
   }
}
@media only screen and (min-width: 1400px) and (max-width: 2000px) {
   .container {
      width: 98%;
      grid-template-columns: 15rem auto 20rem;
   }
}
@media only screen and (min-width: 1025px) and (max-width: 1399px) {
   .userbody {
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
   }
   .container {
      width: 98%;
      grid-template-columns: 14rem auto 14rem;
   }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
   .userbody {
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
   }
   .container {
      width: 94%;
      grid-template-columns: 7rem auto 12rem;
   }
   .info {
      font-size: 1rem;
   }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
   .userbody {
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
   }
   .container {
      width: 100%;
      grid-template-columns: 1fr;
   }
   .right {
      width: 94%;
      margin: 0 auto 4rem;
   }
   .right .profile {
      position: fixed;
      top: 0;
      left: 0;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0.8rem;
      height: 4rem;
      background: var(--white);
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 0.2rem 1rem rgba(132, 139, 200, 0.18);
   }
   .profileImage {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: var(--midcol);
   }
   .profile .menu {
      display: inline-block;
      background: transparent;
      cursor: pointer;
      color: var(--midcol);
      position: absolute;
      left: 1rem;
   }
   .profile .menu i {
      font-size: 150%;
   }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   .userbody {
      overflow-x: hidden;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
   }
   .container {
      width: 100%;
      grid-template-columns: 1fr;
   }

   .right {
      width: 94%;
      margin: 0 auto;
   }
   .right .profile {
      position: fixed;
      top: 0;
      left: 0;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0.8rem;
      height: 4rem;
      background: var(--white);
      width: 100%;
      margin: 0;
      z-index: 2;
      box-shadow: 0 0.2rem 1rem rgba(132, 139, 200, 0.18);
   }
   .profileImage {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background: var(--midcol);
   }
   .profile .menu {
      display: inline-block;
      background: transparent;
      cursor: pointer;
      color: var(--midcol);
      position: absolute;
      left: 1rem;
   }
   .profile .menu i {
      font-size: 150%;
   }
}
