/* MAIN */
main#midsection {
   margin-top: 4rem;
   background-color: var(--gray);
   padding: 2rem 1.2rem 0 1.2rem;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   height: calc(100vh - 4rem);
   min-height: calc(100vh - 4rem);
   max-height: calc(100vh - 4rem);
}

main .vitalsBox {
   display: grid;
   grid-template-columns: 24% 24% 24% 24%;
   gap: 0.6rem;
}
main .vitalsBox .vitals {
   background-color: var(--white);
   padding: 1.3rem 1rem;
   border-radius: 1rem;
   box-shadow: 0 4px 8px 0 #bedded;
   transition: box-shadow 300ms ease;
   height: 9rem;
   min-height: 9rem;
   cursor: pointer;
}
main .vitalsBox .vitals:hover {
   transition-delay: 100ms;
   box-shadow: none;
}

.vitalsDetails {
   width: 100%;
   height: 40%;
   display: flex;
   justify-content: space-between;
}
.vitalsDetails .vitalsIcon {
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.4rem;
}
.vitalsDetails .vitalsIcon i {
   font-size: 150%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.vitalsDetails .vitalsReadings {
   width: 60%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   text-align: left;
}
.vitalsReadings h4 {
   font-size: 100%;
   font-weight: 400;
}
.vitalsTitle {
   width: 100%;
}
.vitalsTitle h4 {
   font-size: 1rem;
   color: var(--midcol);
   margin-top: 0.1rem;
   font-weight: 750;
}
.vitalsInfo {
   width: 100%;
   -webkit-line-clamp: 2;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   font-size: 0.6rem;
   padding-top: 0.3rem;
   color: var(--midcol);
   font-weight: 400;
}

main#midsection .vitalsBox .vitals:nth-child(1) .vitalsDetails .vitalsReadings,
main#midsection .vitalsBox .vitals:nth-child(3) .vitalsDetails .vitalsReadings,
main#midsection .vitalsBox .vitals:nth-child(4) .vitalsDetails .vitalsReadings {
   color: var(--iconred);
}
main#midsection .vitalsBox .vitals:nth-child(2) .vitalsDetails .vitalsReadings {
   color: var(--lightcol);
}

main#midsection .vitalsBox .vitals:nth-child(1) .vitalsDetails .vitalsIcon,
main#midsection .vitalsBox .vitals:nth-child(3) .vitalsDetails .vitalsIcon,
main#midsection .vitalsBox .vitals:nth-child(4) .vitalsDetails .vitalsIcon {
   background-color: var(--iconback);
}
main#midsection .vitalsBox .vitals:nth-child(2) .vitalsDetails .vitalsIcon {
   background-color: var(--gray);
}

main#midsection .vitalsBox .vitals:nth-child(1) .vitalsDetails .vitalsIcon i,
main#midsection .vitalsBox .vitals:nth-child(3) .vitalsDetails .vitalsIcon i,
main#midsection .vitalsBox .vitals:nth-child(4) .vitalsDetails .vitalsIcon i {
   color: var(--iconred);
}
main#midsection .vitalsBox .vitals:nth-child(2) .vitalsDetails .vitalsIcon i {
   color: var(--lightcol);
}

/* MEDICATIONS */
.medicationBox {
   margin-top: 1rem;
}
.medicationBox h2 {
   margin-bottom: 0.2rem;
   color: var(--midcol);
   font-weight: 500;
   font-size: 1.2rem;
}
.medicationTable {
   width: 100%;
   height: 10rem;
   background-color: white;
   /* display: grid; */
   justify-content: center;
   align-items: center;
   table-layout: fixed;
   overflow: auto;
   border-radius: 1rem;
   outline: 1px solid #e1e5ee;
}

.medicationBox table {
   background: var(--white);
   padding: 1rem;
   border-collapse: collapse;
   border-spacing: 0px;
   min-width: 100%;
   width: 100%;
   table-layout: fixed;
   height: 100%;
}
.medicationBox table thead {
   box-shadow: 0 1px 4px #e1e5ee;
   position: sticky;
   top: 0;
   background: var(--white);
   z-index: 1;
}

.medicationBox table tbody td {
   height: 2.8rem;
   min-height: 2.8rem;
   max-height: 2.8rem;
   color: var(--midcol);
   font-weight: 500;
   padding: 0.3rem 0.9rem;
   font-size: 0.8rem;
}
.medicationBox table tbody td:nth-child(1) {
   text-align: left;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-transform: capitalize;
}
.medicationBox table tbody td:nth-child(2),
.medicationBox table tbody td:nth-child(3) {
   text-align: center;
}
.medicationBox table tbody td:nth-child(4) {
   display: flex;
   justify-content: center;
   align-items: center;
}
.medicationBox tbody td input[type='checkbox'] {
   position: relative;
}
.medicationBox tbody td input[type='checkbox']::before {
   position: absolute;
   content: '';
   width: 150%;
   height: 150%;
   background-color: var(--white);
   border: 1px solid var(--midcol);
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   transition: all 300ms ease;
}
.medicationBox tbody td input[type='checkbox']:checked::before {
   background-color: var(--midcol);
   border: 1px solid var(--midcol);
}
.medicationBox tbody td input[type='checkbox']:checked::after {
   position: absolute;
   content: '\f00c';
   font-family: FontAwesome;
   color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
}
.medicationBox table thead th {
   color: var(--tablehead);
   font-weight: 500;
   text-transform: capitalize;
   padding: 0.4rem 1rem;
   letter-spacing: 0.1rem;
   font-size: 0.8rem;
}
.medicationBox table thead th:nth-child(1) {
   width: 40%;
   text-align: left;
   text-transform: capitalize;
}
.medicationBox table thead th:nth-child(2) {
   width: 20%;
}
.medicationBox table thead th:nth-child(3) {
   width: 30%;
}
.medicationBox table thead th:nth-child(4) {
   width: 10%;
}

.medicationBox tbody tr:nth-child(even) {
   background-color: var(--gray);
   width: 100%;
}

.medicationBox tbody p {
   color: var(--tablehead);
   font-weight: 400;
   font-family: 'Poppins';
   font-size: 1.2rem;
   text-align: center;
}

/* APPOINTMENTS */

.appointmentsBox {
   margin-top: 0.4rem;
}
.appointmentsBox h2 {
   margin-bottom: 0.2rem;
   color: var(--midcol);
   font-weight: 500;
   font-size: 1.2rem;
}
.appointmentTable {
   width: 100%;
   height: calc(666px - 31rem);
   background-color: white;
   /* display: grid; */
   justify-content: center;
   align-items: center;
   table-layout: fixed;
   overflow-y: auto;
   border-radius: 1rem;
   outline: 1px solid #e1e5ee;
}

.appointmentsBox table {
   background: var(--white);
   padding: 1rem;
   border-collapse: collapse;
   border-spacing: 0px;
   min-width: 100%;
   width: 100%;
   table-layout: fixed;
   height: 100%;
}
.appointmentsBox table thead {
   box-shadow: 0 1px 4px #e1e5ee;
   position: sticky;
   top: 0;
   background: var(--white);
   z-index: 1;
}
/* .appointmentsBox table tbody tr {
   height: 2.8rem;
   min-height: 2.8rem;
   max-height: 2.8rem;
   line-height: 0px;
} */

.appointmentsBox table tbody td {
   height: 2.8rem;
   min-height: 2.8rem;
   max-height: 2.8rem;
   color: var(--midcol);
   font-weight: 500;
   padding: 0.2rem 0.5rem;
   font-size: 0.8rem;
}
.appointmentsBox tbody p {
   color: var(--tablehead);
   font-weight: 400;
   font-family: 'Poppins';
   font-size: 1.2rem;
   text-align: center;
}
.appointmentsBox table tbody td:nth-child(1) div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 2.8rem;
   min-height: 2.8rem;
   max-height: 2.8rem;
   width: 100%;
   border-radius: 50%;
   clip-path: circle();
}
/* .appointmentsBox table tbody td:nth-child(1) div img {
   height: 100%;
   width: 100%;
} */

.appointmentsBox table tbody td:nth-child(3) {
   text-align: center;
}

.appointmentsBox table thead th {
   position: relative;
   color: var(--tablehead);
   font-weight: 500;
   text-transform: capitalize;
   padding: 0.4rem 1rem;
   letter-spacing: 0.1rem;
   font-size: 0.8rem;
   z-index: 2;
}
.appointmentsBox table thead th:nth-child(1) {
   width: 8%;
}
.appointmentsBox table thead th:nth-child(2) {
   width: 25%;
   text-align: left;
}
.appointmentsBox table thead th:nth-child(3) {
   width: 35%;
   text-align: center;
}
.appointmentsBox table thead th:nth-child(4) {
   width: 15%;
   text-align: left;
}
.appointmentsBox table thead th:nth-child(5) {
   width: 15%;
   text-align: left;
}

.appointmentsBox tbody tr:nth-child(even) {
   background-color: var(--gray);
}

.medicationTable::-webkit-scrollbar,
.appointmentTable::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.medicationTable::-webkit-scrollbar-track,
.appointmentTable::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.medicationTable::-webkit-scrollbar-thumb,
.appointmentTable::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

main#midsection::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
main#midsection::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
main#midsection::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
   main#midsection {
      padding: 2rem 1rem 0 1rem;
   }

   main .vitalsBox {
      gap: 0.5rem;
   }
   main .vitalsBox .vitals {
      padding: 1.1rem 0.8rem;
   }

   .vitalsDetails {
      width: 100%;
      height: 40%;
   }
   .vitalsDetails .vitalsIcon {
      width: 35%;
      border-radius: 0.4rem;
   }
   .vitalsDetails .vitalsIcon i {
      font-size: 150%;
   }
   .vitalsDetails .vitalsReadings {
      width: 59%;
   }
   .vitalsReadings h4 {
      font-size: 70%;
   }
   .vitalsTitle h4 {
      font-size: 78%;
   }
   .vitalsInfo {
      -webkit-line-clamp: 4;
      font-size: 55%;
   }

   main#midsection
      .vitalsBox
      .vitals:nth-child(1)
      .vitalsDetails
      .vitalsReadings,
   main#midsection
      .vitalsBox
      .vitals:nth-child(3)
      .vitalsDetails
      .vitalsReadings,
   main#midsection
      .vitalsBox
      .vitals:nth-child(4)
      .vitalsDetails
      .vitalsReadings {
      color: var(--iconred);
   }
   main#midsection
      .vitalsBox
      .vitals:nth-child(2)
      .vitalsDetails
      .vitalsReadings {
      color: var(--lightcol);
   }

   main#midsection .vitalsBox .vitals:nth-child(1) .vitalsDetails .vitalsIcon,
   main#midsection .vitalsBox .vitals:nth-child(3) .vitalsDetails .vitalsIcon,
   main#midsection .vitalsBox .vitals:nth-child(4) .vitalsDetails .vitalsIcon {
      background-color: var(--iconback);
   }
   main#midsection .vitalsBox .vitals:nth-child(2) .vitalsDetails .vitalsIcon {
      background-color: var(--gray);
   }

   main#midsection .vitalsBox .vitals:nth-child(1) .vitalsDetails .vitalsIcon i,
   main#midsection .vitalsBox .vitals:nth-child(3) .vitalsDetails .vitalsIcon i,
   main#midsection
      .vitalsBox
      .vitals:nth-child(4)
      .vitalsDetails
      .vitalsIcon
      i {
      color: var(--iconred);
   }
   main#midsection
      .vitalsBox
      .vitals:nth-child(2)
      .vitalsDetails
      .vitalsIcon
      i {
      color: var(--lightcol);
   }

   /* MEDICATIONS */
   .medicationBox {
      margin-top: 1rem;
   }
   .medicationBox h2 {
      margin-bottom: 0.2rem;
      font-size: 1.05rem;
   }

   .medicationBox table tbody td {
      padding: 0.3rem 0.8rem;
      font-size: 0.75rem;
   }

   /* APPOINTMENTS */

   .appointmentsBox {
      margin-top: 0.7rem;
   }
   .appointmentsBox h2 {
      font-size: 1.05rem;
   }

   .appointmentsBox table tbody td {
      padding: 0.3rem 0.5rem;
      font-size: 0.75rem;
   }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   main#midsection {
      overflow-y: auto;
   }
   main .vitalsBox {
      grid-template-columns: 1fr;
      gap: 0.8rem;
      /* margin-bottom: 2rem; */
      align-items: center;
      justify-items: center;
   }
   .vitals {
      width: 70%;
   }
   .vitalsDetails {
      width: 34%;
      height: 100%;
      display: block;
      float: left;
   }
   .vitalsDetails .vitalsIcon {
      width: 100%;
      height: 60%;
      border-radius: 0.5rem;
   }
   .vitalsDetails .vitalsIcon i {
      font-size: 300%;
   }
   .vitalsDetails .vitalsReadings {
      height: 35%;
      width: 100%;
   }
   .vitalsDetails .vitalsReadings h4 {
      font-size: 80%;
   }

   .vitalsTitle {
      width: 61%;
      height: 30%;
      float: right;
   }
   .vitalsTitle h4 {
      font-size: 100%;
   }
   .vitalsInfo {
      height: 65%;
      width: 61%;
      -webkit-line-clamp: 5;
      font-size: 60%;
      float: right;
      display: block;
   }
   .medicationTable table {
      width: 110%;
   }
   .appointmentTable table {
      width: 150%;
   }

   .appointmentsBox table tbody td:nth-child(1) div {
      height: 100%;
      width: 2.5rem;
      border-radius: 50%;
   }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
   main#midsection {
      margin-top: 4rem;
      border-radius: 0rem;
      /* padding: 0 1rem; */
   }
   main .vitalsBox .vitals {
      padding: 0.5rem 0.4rem;
      height: 7rem;
      min-height: 7rem;
   }
   .vitalsDetails {
      width: 100%;
      height: 30%;
   }
   .vitalsDetails .vitalsIcon {
      width: 30%;
      height: 80%;
      border-radius: 0.2rem;
   }
   .vitalsDetails .vitalsIcon i {
      font-size: 100%;
   }
   .vitalsReadings h4 {
      font-size: 0.6rem;
      font-weight: 550;
   }
   .vitalsTitle h4 {
      font-size: 0.6rem;
   }
   .vitalsInfo {
      -webkit-line-clamp: 3;
      font-size: 0.5rem;
      font-weight: 400;
   }
   .medicationBox h2 {
      font-size: 1rem;
   }

   .appointmentsBox h2 {
      font-size: 1rem;
   }
   .medicationTable table {
      width: 110%;
   }
   .appointmentTable table {
      width: 150%;
   }
   .appointmentsBox table tbody td:nth-child(1) div {
      height: 100%;
      width: 2rem;
      border-radius: 50%;
   }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
   main#midsection {
      margin-top: 4rem;
      border-radius: 0rem;
      /* padding: 0 1rem; */
      overflow-y: auto;
   }
   main .vitalsBox {
      grid-template-columns: 1fr;
      gap: 0.8rem;
      margin-bottom: 2rem;
      justify-items: center;
      align-items: center;
   }
   main .vitalsBox .vitals {
      padding: 0.5rem 0.4rem;
      width: 70%;
      height: 7rem;
      min-height: 7rem;
   }
   .vitalsDetails {
      width: 30%;
      height: 100%;
      display: block;
      float: left;
   }
   .vitalsDetails .vitalsIcon {
      width: 100%;
      height: 70%;
      border-radius: 0.2rem;
   }
   .vitalsDetails .vitalsIcon i {
      font-size: 300%;
   }
   .vitalsDetails .vitalsReadings {
      height: 20%;
      width: 100%;
   }
   .vitalsReadings h4 {
      font-size: 0.6rem;
      float: left;
   }
   .vitalsTitle {
      width: 65%;
      float: right;
   }
   .vitalsTitle h4 {
      font-size: 0.9rem;
   }
   .vitalsInfo {
      -webkit-line-clamp: 3;
      font-size: 0.6rem;
      width: 65%;
      float: right;
   }
   .medicationBox h2 {
      font-size: 1rem;
   }

   .appointmentsBox h2 {
      font-size: 1rem;
   }
   .medicationTable table {
      width: 110%;
   }
   .appointmentTable table {
      width: 200%;
   }
   .appointmentsBox table thead th {
      padding: 0.4rem 0.5rem;
   }
   .appointmentsBox table tbody td:nth-child(1) div {
      height: 100%;
      width: 1.8rem;
      border-radius: 50%;
   }
}
