* {
   font-family: 'Poppins', sans-serif;
}
#blur.active {
   filter: blur(5px);
   pointer-events: none;
   user-select: none;
   overflow: hidden;
}
#blur {
   position: relative;
   width: 100%;
   max-height: 100vh;
}

@media (min-width: 960px) {
   .back {
      background-image: url('../../images/hero_cover.jpg');
      background-repeat: repeat-x;
      position: relative;
   }
   .hero_overlay {
      position: absolute;
      background: var(--gray);
      opacity: 97%;
      inset: 0;
   }
}

@media (min-width: 1500px) {
   .back {
      min-width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .inner_div {
      max-width: 1820px;
   }

   .backwhite {
      min-width: 100vw;
      background: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
