.main {
   display: flex;
   justify-content: center;
   padding: 1rem 1rem;
   border: 1px solid var(--gray);
   border-radius: 10px;
   overflow-y: scroll;
   background-color: var(--gray);
}

/* .main::-webkit-scrollbar {
   display: none;
} */

/* #profileBody {
   padding-top: 2rem;
   margin-right: 7rem;
} */

.upperContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 0.5rem;
   width: 100%;
}

.profileIntro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.profileName {
   color: var(--midcol);
   text-align: center;
}

.uploadImageBtn label {
   background-color: var(--lightcol);
   color: var(--white);
   padding: 0.2rem 0.3rem;
   font-weight: 300;
   outline: none;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 0.8rem;
}

.personalInfo {
   width: 100%;
   margin-top: 2rem;
   text-transform: capitalize;
}

.title {
   color: var(--deepcol);
   font-size: 1.3rem;
   padding-bottom: 0.8rem;
   letter-spacing: 1px;
}

/* Section for personal info */
form.personalInfoFormBox {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* First name , middle name and lastname */
.forFirst {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

/* Email, date-of-birth and Gender */
.forSecond {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

/* House address */
.forThird {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
}

.profileImage {
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
}

.img {
   clip-path: circle();
   height: 4rem;
   width: 4rem;
   object-fit: cover;
}

.profileFormBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 4px;
   height: max-content;
   min-height: max-content;
   max-height: max-content;
   place-items: center;
   width: 100%;
}

.profileFormBox h3 {
   font-size: 0.8rem;
   color: var(--deepcol);
   font-weight: 600;
   letter-spacing: 0.7px;
}

.formBoxNameInputs {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.input_box {
   border: 0.2px solid var(--formboxoutline);
   padding: 0.3rem 12px;
   width: 100%;
   height: 2rem;
   border-radius: 5px;
   background-color: var(--white);
   outline: none;
   height: 100%;
   line-height: 1;
   font-weight: 400;
   font-size: 0.8rem;
   color: var(--deepcol);
}

/* BUG: the dropdown arrow is not aligned; */
.select {
   width: 100%;
   height: 2rem;
   position: relative;
   display: flex;
   float: right;
   line-height: 1;
   overflow: hidden;
   text-decoration: none;
}

.formBoxNameInputs .select select {
   width: 100%;
   height: 100%;
   color: rgba(0, 0, 0, 0.7);
   padding: 0rem 0.4rem;
   border-radius: 0.2rem;
   -webkit-appearance: none;
   -moz-appearanace: none;
   -ms-appearance: none;
   appearance: none;
   outline: none;
   box-shadow: none;
   border: 0 !important;
   background-image: none;
   flex: 1;
   cursor: pointer;
}
select::-ms-expand {
   display: none;
}

.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0.1rem 0.5rem;
   color: rgba(0, 0, 0, 0.7);
   cursor: pointer;
   pointer-events: none;
   transition: 0.25s all ease;
}

.select select::part(button) {
   padding: 0 1rem;
}

.select select::part(listbox) {
   border: none;
}

.proffInfo {
   width: 100%;
   margin-top: 2rem;
   text-transform: capitalize;
}

.btn_div {
   width: 100%;
   display: flex;
   justify-content: center;
}

.btn {
   margin-top: 2rem;
   padding: 5px 1rem;
   color: var(--white);
   background: var(--lightcol);
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: opacity 4s;
}

.edit_btn {
   margin-top: 2rem;
   padding: 5px 1rem;
   color: var(--white);
   background: var(--lightcol);
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: opacity 4s;
}

.icon {
   display: none;
}

.btn:focus {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--deepcol);
   border-radius: 50%;
}

.btn:focus .btn_text {
   display: none;
}

.btn:focus .icon {
   display: inline;
   color: white;
}

/* media query for 600px */
@media (min-width: 600px) {
   #profileBody {
      width: 100%;
   }

   .upperContent {
      flex-direction: row;
      gap: 1rem;
   }

   .profileIntro {
      align-items: flex-start;
   }

   .personal_and_proff {
      display: flex;
      gap: 2rem;
      width: 100%;
   }
}

@media (min-width: 768px) {
   .main {
      padding-top: 2.5rem;
   }
}

@media (min-width: 860px) {
   .main {
      width: 100%;
   }
}

@media (min-width: 1024px) {
   .upperContent {
      align-items: flex-start;
      justify-content: flex-start;
   }
   .personal_and_proff {
      flex-direction: column;
   }

   .personalInfoFormBox {
      gap: 2rem;
   }

   .forFirst {
      flex-direction: row;
      gap: 3rem;
      padding-bottom: 10px;
   }

   .forSecond {
      flex-direction: row;
      padding-bottom: 10px;
      align-items: flex-start;
      gap: 3rem;
   }

   .forThird {
      flex-direction: row;
      width: 30%;
   }

   .profileFormBox {
      align-items: flex-start;
   }

   .proffBox {
      display: flex;
      gap: 2rem;
   }
}
@media (min-width: 2000px) {
   .main {
      width: 90rem;
      /* margin: auto; */
   }
}
