nav {
   padding: 10px 10px;
   color: var(--deepcol);
}

.welcome_msg {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: block;
   font-size: 14px;
   color: var(--lightcol);
   font-weight: 600;
   font-family: var(--logofont);
}

.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.hello_msg {
   font-size: 12px;
}

.avatar_img {
   width: 30px;
   height: 30px;
}

/* tablet screens */
@media (min-width: 480px) {
   nav {
      padding: 10px 2rem 10px 18px;
   }

   .logo {
      display: block;
      font-size: 20px;
      color: var(--lightcol);
      font-weight: 600;
      font-family: var(--logofont);
   }

   .hello_msg {
      font-size: 16px;
   }

   .avatar {
      gap: 1rem;
   }
}

@media (min-width: 1024px) {
   .nav {
      padding: 1rem 2rem;
   }
}
