.section {
   background-color: var(--gray);
   border-radius: 5px 5px 0 0;
   height: 100vh;
   color: var((--midcol));
   /* padding: 4rem 2rem 4rem 2rem; */
}

.middle_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   overflow-y: scroll;
   scrollbar-width: none;
   -ms-overflow-style: none;
   padding: 2rem;
}
.middle_section::-webkit-scrollbar {
   display: none;
}

.right_pane {
   display: none;
}
/* Table */

.appointmentTable {
   width: 100%;
   height: 20rem;
   min-height: 13rem;
   background-color: white;
   justify-content: center;
   align-items: center;
   table-layout: fixed;
   overflow-y: auto;
   border-radius: 1rem;
   outline: 1px solid #e1e5ee;
}

.tbody {
   position: relative;
}

.emptyMessage {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 8rem;
}

.text {
   color: var(--midcol);
   font-size: 1.5rem;
   font-weight: 500;
}

.appointmentContainer {
   table-layout: fixed;
   background-color: white;
   margin: auto;
   min-height: 20rem;
   height: 25rem;
   border-radius: 20px;
   margin-top: 20px;
   box-sizing: border-box;
   overflow-y: scroll;
   overflow-x: scroll;
}

.appointmentContainer::-webkit-scrollbar,
.appointmentContainer::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}

.appointmentContainer::-webkit-scrollbar-track,
.appointmentContainer::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}

.appointmentContainer::-webkit-scrollbar-thumb,
.appointmentContainer::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

.appointmentContainer table thead {
   position: sticky;
   box-shadow: 0 1px 4px #e1e5ee;
   top: 0;
   right: -2px;
   background: #fff;
   z-index: 1;
   width: 100%;
}

.appointmentContainer table {
   margin: auto;
   text-align: center;
   table-layout: fixed;
   min-width: 35rem;
   width: 100%;
}
.appointmentContainer th {
   color: #c2c9d1;
   padding: 3px 0;
   border-bottom: 1px solid var(--gray);
}

.appointmentContainer th:nth-child(1) {
   width: 10%;
}

.appointmentContainer th:nth-child(2) {
   width: 30%;
   text-align: center;
}

.appointmentContainer th:nth-child(3) {
   width: 20%;
   text-align: center;
}

.appointmentContainer table td {
   padding-top: 21px;
   font-weight: 600;
   font-size: 1rem;
   color: #0d3f58;
   width: 19.5rem;
   height: 0.4rem;
   min-height: 0.4rem;
   max-height: 0.4rem;
   cursor: pointer;
}

.appointmentContainer .imgHeader {
   width: 10%;
}
.appointmentContainer .tCondition {
   text-align: left;
}
.appointmentContainer .tdCondition {
   text-align: left;
}
.appointmentContainer .tName {
   text-align: left;
   margin: 0 auto;
}
.appointmentContainer .tdName {
   text-align: left;
}

.table_img {
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
   object-fit: cover;
}

/* End */

.doctor_display {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.card {
   background: var(--white);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 6rem;
   width: 100%;
   color: var(--midcol);
   padding: 2px 2rem;
   border-radius: 10px;
   box-shadow: 0 2px 15px 0 #bedded;
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.icon {
   height: 2rem;
   width: 2rem;
   color: var(--deepcol);
}

.digits {
   font-size: 13px;
}

.text {
   font-size: 16px;
   color: var(--midcol);
   font-weight: 500;
   text-transform: capitalize;
   opacity: 45%;
}

/* styling for upcoming appointment */
.appointment {
   width: 100%;
   padding: 5px 10px;
}

.heading {
   text-align: center;
   color: var(--deepcol);
   text-transform: capitalize;
   padding-bottom: 10px;
}

.appointment_table {
   width: 100%;
   height: 20rem;
   background: var(--white);
   border-radius: 10px;
}

/* =========== media query for 420px=========== */
@media (min-width: 420px) {
   .middle_section {
      width: 100%;
   }

   .doctor_display {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 10px;
   }
}

@media (min-width: 720px) {
   .section {
      flex-direction: row;
      gap: 1rem;
      background-color: var(--white);
      padding-top: 0;
   }

   .middle_section {
      height: 100%;
      background-color: var(--gray);
      /* border-radius: 20px 20px 0 0; */
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      /* padding: 2rem 10px 4rem 10px; */
      gap: 14%;
   }

   .right_pane {
      display: block;
      background-color: var(--white);
      height: 100%;
      width: 30%;
      padding-right: 10px;
   }
}
@media (max-width: 720px) {
   .middle_section {
      padding: 2rem;
   }
}

/* tablet queries */
@media (min-width: 800px) {
   .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

@media (min-width: 769px) and (max-width: 860px) {
   .section {
      width: 100%;
   }
   .middle_section {
      width: 100%;
   }
}

@media (min-width: 1024px) {
   /* .wrapper {
      min-width: 100vw;
   } */

   .doctor_display {
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
      box-shadow: 0 2px 15px 0 #bedded;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      padding: 0;
      border-radius: 20px;
      overflow: hidden;
      min-height: 9rem;
   }

   .card {
      height: 100%;
      padding: 0;
      justify-content: center;
      gap: 5px;
      border-radius: 0;
      box-shadow: 0 0 0 0;
      backdrop-filter: blur(0) saturate(0);
      -webkit-backdrop-filter: blur(0) saturate(0);
   }

   #first_card {
      justify-content: center;
      padding-right: 10%;
   }

   #second_card {
      justify-content: start;
      padding: 0 2rem;
      padding-left: 25%;
   }

   #third_card {
      justify-content: center;
   }

   .digits {
      font-size: 1rem;
   }

   .heading {
      text-align: left;
      font-size: 20px;
   }
}

@media (min-width: 1920px) {
   .appointmentTable {
      min-height: 25rem;
      height: 30 rem;
   }
}
