.section {
   background-color: var(--gray);
   border-radius: 5px 5px 0 0;
   height: 100vh;
   color: var((--midcol));
   padding: 4rem 2rem 4rem 2rem;
}

.middle_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   overflow-y: scroll;
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.middle_section::-webkit-scrollbar {
   display: none;
}

.right_pane {
   display: none;
}
/* Table */

.appointmentTable {
   width: 100%;
   height: 20rem;
   min-height: 13rem;
   background-color: white;
   justify-content: center;
   align-items: center;
   table-layout: fixed;
   overflow-y: auto;
   border-radius: 1rem;
   outline: 1px solid #e1e5ee;
}

.appointmentsBox table {
   background: var(--white);
   padding: 1rem;
   border-collapse: collapse;
   border-spacing: 0px;
   min-width: 100%;
   width: 100%;
   table-layout: fixed;
   height: 100%;
}
.appointmentsBox table thead {
   box-shadow: 0 1px 4px #e1e5ee;
   position: sticky;
   top: 0;
   background: var(--white);
}

.appointmentsBox table tbody td {
   height: 0.4rem;
   min-height: 0.4rem;
   max-height: 0.4rem;
   color: var(--midcol);
   font-weight: 600;
   padding: 0.3rem 0.9rem;
   font-size: 0.8rem;
}

.table_img {
   height: 2rem;
   width: 2rem;
   border-radius: 50%;
}

.appointmentsBox table tbody td:nth-child(1) div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   border-radius: 50%;
   background-color: var(--deepcol);
}
.appointmentsBox table tbody td:nth-child(1) div img {
   height: 100%;
   width: 100%;
}

.appointmentsBox table tbody td:nth-child(3) {
   text-align: center;
}

.appointmentsBox table thead th {
   color: var(--tablehead);
   font-weight: 500;
   text-transform: capitalize;
   padding: 0.4rem 1rem;
   letter-spacing: 0.1rem;
   font-size: 0.8rem;
}
.appointmentsBox table thead th:nth-child(1) {
   width: 10%;
   padding: 0;
}
.appointmentsBox table thead th:nth-child(2) {
   width: 30%;
   text-align: left;
}
.appointmentsBox table thead th:nth-child(3) {
   width: 30%;
   text-align: center;
}
.appointmentsBox table thead th:nth-child(4) {
   width: 20%;
   text-align: left;
}
.appointmentsBox table thead th:nth-child(5) {
   width: 12%;
   text-align: left;
}

.appointmentsBox tbody tr:nth-child(even) {
   background-color: var(--gray);
}

.appointmentTable::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}

.appointmentTable::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}

.appointmentTable::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

/* End */

.doctor_display {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.card {
   background: var(--white);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 6rem;
   width: 100%;
   color: var(--midcol);
   padding: 2px 2rem;
   border-radius: 10px;
   box-shadow: 0 2px 15px 0 #bedded;
   backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.icon {
   height: 2rem;
   width: 2rem;
   color: var(--deepcol);
}

.digits {
   font-size: 13px;
}

.text {
   font-size: 16px;
   color: var(--midcol);
   font-weight: 500;
   text-transform: capitalize;
   opacity: 45%;
}

/* styling for upcoming appointment */
.appointment {
   width: 100%;
   padding: 5px 10px;
}

.heading {
   text-align: center;
   color: var(--deepcol);
   text-transform: capitalize;
   padding-bottom: 10px;
}

.appointment_table {
   width: 100%;
   height: 20rem;
   background: var(--white);
   border-radius: 10px;
}

/* =========== media query for 420px=========== */
@media (min-width: 420px) {
   .middle_section {
      width: 100%;
   }

   .doctor_display {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 10px;
   }
}

@media (min-width: 720px) {
   .section {
      flex-direction: row;
      gap: 1rem;
      background-color: var(--white);
      padding-top: 0;
   }

   .middle_section {
      height: 100%;
      background-color: var(--gray);
      border-radius: 20px 20px 0 0;
      padding: 2rem 10px 4rem 10px;
      gap: 14%;
   }

   .right_pane {
      display: block;
      background-color: var(--white);
      height: 100%;
      width: 30%;
      padding-right: 10px;
   }
}

/* HACK: add custom scroll to middle section */

/* tablet queries */
@media (min-width: 800px) {
   .section {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

@media (min-width: 769px) and (max-width: 860px) {
   .section {
      width: 120%;
   }
}

@media (min-width: 1024px) {
   /* .wrapper {
      min-width: 100vw;
   } */

   .doctor_display {
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
      box-shadow: 0 2px 15px 0 #bedded;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      padding: 0;
      border-radius: 20px;
      overflow: hidden;
      min-height: 9rem;
   }

   .card {
      height: 100%;
      padding: 0;
      justify-content: center;
      gap: 5px;
      border-radius: 0;
      box-shadow: 0 0 0 0;
      backdrop-filter: blur(0) saturate(0);
      -webkit-backdrop-filter: blur(0) saturate(0);
   }

   #first_card {
      justify-content: center;
      padding-right: 10%;
   }

   #second_card {
      justify-content: start;
      padding: 0 2rem;
      padding-left: 25%;
   }

   #third_card {
      justify-content: center;
   }

   .digits {
      font-size: 15px;
   }

   .heading {
      text-align: left;
      font-size: 20px;
   }
}
