:root {
   --radius: 25px;
   --height: 40px;
   --white: #fff;
   --field-radius: 8px;
   --bleached-blue: #ecf3fe;
   --light-blue: #05a6c2;
   --dark-blue: #2b6777;
   --text-color: #0d3f58;
   --padding: 1.5rem;
   --text-padding: 10px;
}

#login-section {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

#login-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   justify-self: center;
   border-radius: var(--radius);
   justify-self: center;
   padding: var(--padding);
   color: var(--text-color);
   background-color: var(--white);
   height: 80vh;
   width: 70vw;
   margin: auto;
   display: grid;
   grid-template-columns: 2fr 3fr;
   gap: 1rem;
   border: 2px solid red;
   visibility: hidden;
   opacity: 0;
   transition: visibility 500ms ease-in-out;
}
#login-container.active {
   visibility: visible;
   opacity: 1;
   transition: visibility 500ms ease-in-out;
}

.login-body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: var(--padding);
   /* align-items: center; */
   /* margin: auto; */
   height: 90%;
}

.login-form > * {
   margin: 10px auto;
   width: 100%;
}
.right-side {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   /* align-items: center; */
   background-color: var(--light-blue);
   border-top-right-radius: var(--radius);
   border-bottom-right-radius: var(--radius);
   padding: var(--padding);
}
.right-side > *:not(:first-child) {
   margin: auto;
}

.right-side > h1 {
   color: var(--white);
   font-weight: 400;
}
.right-side > p {
   font-size: 2rem;
}

.password-reset {
   color: var(--light-blue);
   font-size: 0.7rem;
   text-align: right;
}

.signup-toggle {
   padding: var(--text-padding);
   font-size: 0.7rem;
}

.input-field {
   height: var(--height);
   border: 1px solid grey;
   border-radius: var(--field-radius);
   display: flex;
   /* justify-content: space-around; */
   align-items: center;
   height: var(--height);
   /* padding: var(--text-padding); */
}
.input-field > * {
   margin: 5px;
   border: none;
}
.error {
   border: 1px solid red;
}
.submit {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
h1 {
   font-size: 2rem;
}

.btn {
   color: white;
   background-color: var(--light-blue);
   height: var(--height);
   width: 50%;
   border-radius: var(--field-radius);
   /* margin: auto; */
   text-transform: uppercase;
}
.solid:hover {
   background-color: var(--text-color);
   transition: background-color 0.5s ease-out;
   cursor: pointer;
}

.inactive {
   background-color: var(--light-blue);
   opacity: 0.5;
   color: white;
}

.input-field > input {
   /* padding: var(--text-padding) 0; */
   border: none;
   outline: none;
   width: 100%;
   height: 100%;
   padding: auto;
}

a {
   color: var(--light-blue);
}

/* Alert */
.show {
   /* background-color: rgb(245, 52, 52); */
   font-size: 0.7rem;
   border-radius: 5px;
   /* padding: 0.2rem; */
}
