* {
   border: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.signupBody {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
#signupContent {
   max-height: 600px;
   max-width: 800px;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 80vh;
   width: 70vw;
   background: linear-gradient(222deg, #ffffff, #f8f7f7);
   border-radius: 2rem;
   visibility: hidden;
   opacity: 0;
   transition: visibility 500ms ease-in-out;
   animation-fill-mode: both;
   z-index: 1;
   box-shadow: 5px 5px 10px #d6d6d6, -5px -5px 10px #ffffff;
}

.closeModal {
   position: absolute;
   top: -8%;
   left: 50%;
   background: #ffffff;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   cursor: pointer;
   font-weight: 900;
}
.closeModal i {
   width: 100%;
   height: 100%;
   text-align: center;
   font-weight: 900;
   font-size: 20px;
}
#signupContent.active {
   visibility: visible;
   opacity: 1;
   transition: visibility 500ms ease-in-out;
}
.signupContainer {
   width: 95%;
   height: 95%;
}

.leftRegion {
   width: 60%;
   height: 100%;
   border-bottom-left-radius: 2rem;
   border-top-left-radius: 2rem;
   padding: 2.5rem 2.5rem;
   float: left;
   background-color: #05a6c2;
}
.leftRegion > * {
   font-family: 'Comfortaa', cursive;
   font-weight: 700;
}

.leftRegion h3 {
   font-size: 1.5rem;
   color: #ffffff;
}
.leftRegionInfoOne {
   position: relative;
   left: 1rem;
}

.leftRegionInfoOne p {
   margin-top: 0.5rem;
   font-size: 1.5rem;
   color: #0d3f58;
   font-weight: 700;
}
.leftRegionInfoTwo {
   position: relative;
   left: 2.5rem;
}

.leftRegionInfoTwo p {
   margin-top: 0.5rem;
   font-size: 1.5rem;
   color: #0d3f58;
   font-weight: 700;
}
.leftRegionImage {
   width: 100%;
   height: 70%;
}
.leftRegionImage img {
   width: 100%;
   height: 100%;
}

.rightRegion {
   float: right;
   width: 40%;
   height: 100%;
   padding: 0 1.5rem;
}
.error {
   height: 2rem;
   background: rgb(253, 252, 252);
   border: 1.5px solid red;
   color: red;
   display: flex;
   justify-content: space-between;
   border-radius: 5px;
   padding: 0 0.5rem;
}

.error p {
   color: red;
   font-weight: 600;
   width: 93%;
   font-size: 0.7rem;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}

.error i {
   color: red;
   width: 6%;
   float: right;
   font-size: 150%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 0.9rem;
   cursor: pointer;
}
.noerror {
   height: 2rem;
}
.noerror p {
   display: none;
}
.noerror i {
   display: none;
}

.signupFormTitle h3 {
   color: #0d3f58;
   font-size: 1.5rem;
   font-weight: 600;
}
.signupFormTitle p {
   color: #678696;
   font-size: 0.7rem;
}

.signupForm {
   width: 100%;
   height: 84%;
   margin-top: 0.2rem;
}

.signupFormBox {
   width: 100%;
   height: max-content;
}
.signupFormBox h3 {
   color: #0d3f58;
   width: 100%;
   font-size: 0.7rem;
   font-weight: 650;
}
.signupFormBoxInputs {
   width: 100%;
   height: 1.5rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 0.2px solid #678696;
}

.signupFormBoxInputsError {
   width: 100%;
   height: 1.5rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 0.2px solid red;
}

.signupFormBoxNames {
   width: 100%;
   height: max-content;
   min-height: max-content;
   max-height: max-content;
   display: flex;
   justify-content: space-between;
}
.signupFormBoxName {
   width: 49%;
}

.signupFormBoxName h3 {
   color: #0d3f58;
   width: 100%;
   font-size: 0.7rem;
   font-weight: 650;
}
.signupFormBoxNameInputs {
   width: 100%;
   height: 1.5rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 0.2px solid #678696;
}

.signupFormBoxName .signupFormBoxNameInputs input {
   background: none;
   outline: none;
   border: none;
   height: 100%;
   line-height: 1;
   font-weight: 200;
   font-size: 0.7rem;
   color: #678696;
   width: 85%;
}
.signupFormBoxName .signupFormBoxNameInputs i {
   color: #678696;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15%;
   font-size: 90%;
   height: 100%;
}
.signupFormBox .signupFormBoxInputs input {
   background: none;
   outline: none;
   border: none;
   height: 100%;
   line-height: 1;
   font-weight: 200;
   font-size: 0.7rem;
   color: #678696;
   width: 90%;
}
.signupFormBox .signupFormBoxInputs i {
   color: #678696;
   font-size: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10%;
   height: 100%;
}
.signupFormBoxNameInputsError {
   width: 100%;
   height: 1.5rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 0.2px solid red;
}
.signupFormBoxName .signupFormBoxNameInputsError input {
   background: none;
   outline: none;
   border: none;
   height: 100%;
   line-height: 1;
   font-weight: 200;
   font-size: 0.7rem;
   color: #678696;
   width: 85%;
}
.signupFormBoxName .signupFormBoxNameInputsError i {
   color: #678696;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15%;
   font-size: 90%;
   height: 100%;
}
.signupFormBox .signupFormBoxInputsError input {
   background: none;
   outline: none;
   border: none;
   height: 100%;
   line-height: 1;
   font-weight: 200;
   font-size: 0.7rem;
   color: #678696;
   width: 90%;
}
.signupFormBox .signupFormBoxInputsError i {
   color: #678696;
   font-size: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10%;
   height: 100%;
}

.signupFormButton {
   width: 100%;
   height: 2rem;
   margin-top: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.signupBtn {
   width: 60%;
   height: 100%;
   border: none;
   outline: none;
   border-radius: 5rem;
   cursor: pointer;
   background-color: #05a6c2;
   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   margin-top: -0.4rem;
   font-size: 75%;
   text-align: center;
   box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   position: relative;
}
.loader {
   width: 20%;
   height: 100%;
   border-radius: 4rem;
   position: absolute;
   top: 0;
   right: -5%;
   background: #0d3f58;
   box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 120%;
   visibility: hidden;
   opacity: 0;
   transition: visibility 1000ms ease-in-out;
}
.btnActive {
   background: #0d3f58;
   transition: color 1000ms ease-in-out;
   cursor: progress;
}
.btnActive p {
   margin-right: 15%;
   transition: 500ms ease-in-out;
}
.loader.btnActive {
   right: 0;
   visibility: visible;
   opacity: 1;
   transition: visibility 500ms ease-in-out;
   transition-delay: 500ms;
}
.loader.btnActive i {
   animation: spin 1.3s ease-in-out infinite;
   display: flex;
   justify-content: center;
   align-items: center;
}
@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

.signupBtnInactive {
   cursor: not-allowed;
   background-color: #a5cfd6;

   width: 60%;
   height: 100%;
   border: none;
   outline: none;
   border-radius: 40px;

   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   margin-top: -0.5rem;
   font-size: 75%;
   text-align: center;
   box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.4);
   overflow: hidden;
   position: relative;
}
.signupBtnInactive .loader.btnActive {
   visibility: hidden;
   opacity: 0;
   transition: visibility 1000ms ease-in-out;
}

.signupFormMessage {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.signupFormMessage p {
   font-size: 0.6rem;
   color: #678696;
   font-weight: 300;
}
#signupFormMessageP {
   font-size: 0.6rem;
   font-weight: 400;
   color: #05a6c2;
   cursor: pointer;
}

.errorMessageBox {
   width: 100%;
   height: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 0.6rem;
   color: red;
}
.errorMessageBox p {
   color: red;
   width: 93%;
}
.errorMessageBox i {
   fill: red;
   width: 7%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 100%;
}

.noErrorMessageBox {
   width: 100%;
   height: 1.5rem;
}
.noErrorMessageBox i {
   display: none;
}
.noErrorMessageBox p {
   display: none;
}

/* Media sizes */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
   #signupContent {
      width: 70vw;
      height: 80%;
   }

   .leftRegion {
      width: 55%;
      height: 100%;
      border-bottom-left-radius: 7%;
      border-top-left-radius: 7%;
      padding: 4% 4%;
   }

   .leftRegion h3 {
      font-size: 130%;
   }
   .leftRegionInfoOne {
      left: 1rem;
   }

   .leftRegionInfoOne p {
      font-size: 110%;
   }
   .leftRegionInfoTwo {
      position: relative;
   }

   .leftRegionInfoTwo p {
      font-size: 110%;
   }

   .rightRegion {
      padding: 0 0;
   }

   .error {
      height: 2rem;
      padding: 0 0.3rem;
   }
   .error p {
      font-size: 0.7rem;
   }

   .error i {
      padding-bottom: 0.9rem;
   }

   .noerror {
      height: 2rem;
   }
   .signupFormTitle h3 {
      font-size: 120%;
      font-weight: 700;
   }
   .signupFormTitle p {
      font-size: 60%;
      margin-bottom: 1.5rem;
   }

   .signupForm {
      margin-top: 2%;
   }
   .signupFormBox {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }
   .signupFormBoxInputs {
      height: 1.5rem;
      border-radius: 0.25rem;
   }
   .signupFormBoxInputsError {
      height: 1.5rem;
      border-radius: 0.25rem;
   }
   .signupFormBoxNames {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxNameInputs {
      height: 1.5rem;
      border-radius: 0.25rem;
   }
   .signupFormBoxName .signupFormBoxNameInputs input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputs input {
      font-size: 80%;
   }
   .signupFormBoxNameInputsError {
      height: 1.5rem;
      border-radius: 0.25rem;
   }
   .signupFormBoxName .signupFormBoxNameInputsError input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputsError input {
      font-size: 80%;
   }
   .signupFormButton {
      width: 100%;
      height: 8%;
      margin-top: 0.5rem;
   }
   .signupBtn {
      margin-top: 1%;
   }
   .signupBtnInactive {
      margin-top: 1%;
   }
   .signupFormMessage {
      margin-top: 2%;
   }
   .signupFormMessage p {
      font-size: 60%;
   }
   #signupFormMessageP {
      font-size: 60%;
   }
   .errorMessageBox {
      height: 1.5rem;
   }
   .noErrorMessageBox {
      height: 1.5rem;
   }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
   #signupContent {
      font-size: 14px;
      width: 70vw;
      height: 80%;
   }

   .leftRegion {
      width: 55%;
      height: 100%;
      border-bottom-left-radius: 7%;
      border-top-left-radius: 7%;
      padding: 4% 4%;
   }

   .leftRegion h3 {
      font-size: 130%;
   }
   .leftRegionInfoOne {
      left: 1rem;
   }

   .leftRegionInfoOne p {
      font-size: 110%;
   }
   .leftRegionInfoTwo {
      position: relative;
   }

   .leftRegionInfoTwo p {
      font-size: 110%;
   }

   .rightRegion {
      padding: 0 0;
   }

   .error {
      height: 2rem;
      padding: 0 0.3rem;
   }
   .error p {
      font-size: 0.6rem;
   }

   .error i {
      padding-bottom: 0.9rem;
   }

   .noerror {
      height: 2rem;
   }
   .signupFormTitle h3 {
      font-size: 1.2rem;
      font-weight: 700;
   }
   .signupFormTitle p {
      font-size: 0.6rem;
      margin-bottom: 1.5rem;
   }

   .signupForm {
      margin-top: 2%;
   }

   .signupFormBox {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxInputs {
      height: 1.5rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
   }
   .signupFormBoxInputsError {
      height: 1.5rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
   }
   .signupFormBoxNames {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxNameInputs {
      height: 1.5rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
   }
   .signupFormBoxName .signupFormBoxNameInputs input {
      font-size: 90%;
   }

   .signupFormBox .signupFormBoxInputs input {
      font-size: 90%;
   }
   .signupFormBoxNameInputsError {
      height: 1.5rem;
      border-radius: 0.25rem;
      font-size: 0.8rem;
   }
   .signupFormBoxName .signupFormBoxNameInputsError input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputsError input {
      font-size: 80%;
   }
   .signupFormButton {
      width: 100%;
      height: 8%;
      margin-top: 0.5rem;
   }
   .signupBtn {
      width: 80%;
      margin-top: 1%;
   }
   .signupBtnInactive {
      margin-top: 1%;
   }
   .signupFormMessage {
      margin-top: 2%;
   }
   .signupFormMessage p {
      font-size: 80%;
   }
   #signupFormMessageP {
      font-size: 80%;
   }
   .errorMessageBox {
      height: 1.5rem;
   }
   .noErrorMessageBox {
      height: 1.5rem;
   }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
   #signupContent {
      font-size: 13px;
      width: 70%;
      height: 80%;
      border-radius: 5%;
   }

   .leftRegion {
      display: none;
   }

   .rightRegion {
      float: none;
      width: 90%;
      margin: 0 auto;
      padding: 0 0;
   }

   .error {
      height: 2rem;
      padding: 0 0.3rem;
   }
   .error p {
      font-size: 0.6rem;
   }

   .error i {
      padding-bottom: 2%;
   }
   .noerror {
      height: 2rem;
   }

   .signupFormTitle h3 {
      font-size: 170%;
      font-weight: 700;
   }
   .signupFormTitle p {
      font-size: 0.7rem;
      margin-bottom: 1rem;
   }

   .signupForm {
      margin-top: 5%;
   }

   .signupFormBox {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxInputs {
      height: 1.7rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxInputsError {
      height: 1.7rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxNames {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxNameInputs {
      height: 1.7rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxName .signupFormBoxNameInputs input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputs input {
      font-size: 80%;
   }
   .signupFormBoxNameInputsError {
      height: 1.7rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxName .signupFormBoxNameInputsError input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputsError input {
      font-size: 80%;
   }
   .signupFormButton {
      width: 100%;
      height: 8%;
      margin-top: 0.5rem;
   }
   .signupBtn {
      margin-top: -1%;
      font-size: 80%;
      width: 60%;
   }
   .signupBtnInactive {
      width: 60%;
      margin-top: -1%;
      font-size: 70%;
   }
   .signupFormMessage {
      margin-top: 0.5%;
   }
   .signupFormMessage p {
      font-size: 85%;
   }
   #signupFormMessageP {
      font-size: 85%;
   }
   .errorMessageBox {
      height: 1.5rem;
   }
   .noErrorMessageBox {
      height: 1.5rem;
   }
}

@media only screen and (max-width: 480px) {
   #signupContent {
      font-size: 12px;
      width: 90%;
      height: 90%;
      border-radius: 5%;
   }
   .closeModal {
      top: -5%;
   }

   .leftRegion {
      display: none;
   }

   .rightRegion {
      float: none;
      width: 90%;
      margin: 0 auto;
      padding: 0 0;
   }

   .error {
      height: 2rem;
      padding: 0 0.3rem;
   }
   .error p {
      font-size: 0.6rem;
   }

   .error i {
      padding-bottom: 2%;
   }
   .noerror {
      height: 2rem;
   }

   .signupFormTitle h3 {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
   }
   .signupFormTitle p {
      font-size: 0.6rem;
      margin-bottom: 1rem;
      text-align: center;
   }

   .signupForm {
      margin-top: 1rem;
   }

   .signupFormBox {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxInputs {
      height: 2rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxInputsError {
      height: 2rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxNames {
      height: max-content;
      min-height: max-content;
      max-height: max-content;
   }

   .signupFormBoxNameInputs {
      height: 2rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxName .signupFormBoxNameInputs input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputs input {
      font-size: 80%;
   }
   .signupFormBoxNameInputsError {
      height: 2rem;
      border-radius: 0.25rem;
      font-size: 1rem;
   }
   .signupFormBoxName .signupFormBoxNameInputsError input {
      font-size: 80%;
   }

   .signupFormBox .signupFormBoxInputsError input {
      font-size: 80%;
   }
   .signupFormButton {
      width: 100%;
      height: 8%;
      margin-top: 0.5rem;
   }
   .signupBtn {
      margin-top: 0.5%;
      font-size: 100%;
      width: 70%;
   }
   .signupBtnInactive {
      margin-top: 1%;
      font-size: 70%;
      width: 70%;
   }
   .loader {
      border-radius: 60px;
   }
   .signupFormMessage {
      margin-top: 1.5%;
   }
   .signupFormMessage p {
      font-size: 90%;
   }
   #signupFormMessageP {
      font-size: 90%;
   }
   .errorMessageBox {
      height: 1.5rem;
   }
   .noErrorMessageBox {
      height: 1.5rem;
   }
   .closeModal i svg {
      font-size: 20px;
   }
}
