#alertBody {
   overflow: hidden;
   width: 100vw;
   height: 100%;
   padding: 0;
   margin: 0;
}
.alertBox {
   position: fixed;
   width: 100%;
   z-index: 999;
}

.alertSuccess {
   background: var(--white);
   padding: 0.5rem 2.5rem;
   min-width: 23.25rem;
   overflow: hidden;
   position: absolute;
   right: 0;
   top: 0.7rem;
   border-radius: 0.25rem;
   border: 1px solid var(--midcol);
   z-index: 10;
}
.alertError {
   background: var(--white);
   padding: 0.5rem 2.5rem;
   min-width: 23.25rem;
   overflow: hidden;
   position: absolute;
   right: 0;
   top: 0.7rem;
   border-radius: 0.25rem;
   border: 1px solid red;
   z-index: 10;
}
.alertSuccess.show {
   animation: show_slide 1s ease forwards;
}
.alertError.show {
   animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
   0% {
      transform: translateX(100%);
   }
   40% {
      transform: translateX(-10%);
   }
   80% {
      transform: translateX(0%);
   }
   100% {
      transform: translateX(-10px);
   }
}
.alertSuccess.hide {
   animation: hide_slide 1s ease forwards;
}
.alertError.hide {
   animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
   0% {
      transform: translateX(-10px);
   }
   40% {
      transform: translateX(0%);
   }
   80% {
      transform: translateX(-10%);
   }
   100% {
      transform: translateX(100%);
   }
}
.alertSuccess .iconBox {
   position: absolute;
   left: 1.25rem;
   top: 57%;
   transform: translateY(-50%);
   color: var(--lightcol);
   font-size: 1.5rem;
   padding: 0.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.alertError .iconBox {
   position: absolute;
   left: 1.25rem;
   top: 57%;
   transform: translateY(-50%);
   color: red;
   font-size: 1.5rem;
   padding: 0.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.alertSuccess .message {
   padding: 0 1.25rem;
   font-size: 0.8rem;
   color: var(--lightcol);
}
.alertError .message {
   padding: 0 1.25rem;
   font-size: 0.8rem;
   color: red;
}
.alertSuccess .closeBtn {
   position: absolute;
   right: 0;
   top: 55%;
   transform: translateY(-50%);
   background: var(--gray);
   padding: 2rem 1.12rem;
   cursor: pointer;
}
.alertError .closeBtn {
   position: absolute;
   right: 0;
   top: 55%;
   transform: translateY(-50%);
   background: var(--errorMildLow);
   padding: 2rem 1.12rem;
   cursor: pointer;
}
.alertSuccess .closeBtn:hover {
   background: var(--gray);
}
.alertError .closeBtn:hover {
   background: var(--errorMildHigh);
}
.alertSuccess .closeBtn i {
   color: var(--midcol);
   font-size: 1.3rem;
   line-height: 2.5rem;
}
.alertError .closeBtn i {
   color: red;
   font-size: 1.3rem;
   line-height: 2.5rem;
}
