* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body {
   overflow: hidden;
   background-color: #c0daee;

   /* animation: changecolor 10s infinite; */
   /* animation-fill-mode: both; */
}

/* @keyframes changecolor {
   0% {
      background-color: #ecf3fe;
   }

   25% {
      background-color: #bfd2e0;
   }

   50% {
      background-color: #dee5eb;
   }

   75% {
      background-color: #c5d2db;
   }

   100% {
      background-color: #c0daee;
   }
} */

/* Global */
.container {
   background-color: rgba(255, 255, 255, 0.3);
   margin: 5% auto;
   border-radius: 5rem;
   box-shadow: 0 10px 6px -6px #777;
   position: relative;
   width: 70%;
   min-height: 80vh;
   overflow: hidden;
}
.container:before {
   background-color: #05a6c2;
   content: '';
   position: absolute;
   width: 2000px;
   height: 2000px;
   border-radius: 50%;
   top: -10%;
   right: 48%;
   transform: translateY(-25%);
   z-index: 6;
   transition: 1.8s ease-in-out;
}

/* Form */
.forms-container {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.signin-signup {
   position: absolute;
   top: 50%;
   left: 75%;
   transform: translate(-50%, -50%);
   width: 50%;
   display: grid;
   grid-template-columns: 1fr;
   z-index: 5;
   transition: 1s 0.7s ease-in-out;
}
form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 5rem;
   overflow: hidden;
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   transition: 0.2s 0.7s ease-in-out;
}
form.sign-in-form {
   z-index: 2;
}
form.sign-up-form {
   z-index: 1;
   opacity: 0;
}
.title {
   font-size: 2.2rem;
   color: #444;
   margin-bottom: 10px;
}
.input-field {
   max-width: 380px;
   width: 90%;
   height: 45px;
   background-color: #f0f0f0;
   margin: 10px 0;
   border-radius: 55px;
   /* padding: 0 0.1rem; */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
}
.input-field input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 1.1rem;
   color: #333;
   width: 90%;
}
/*displaying error message*/
span {
   display: none;
   color: red;
   text-align: center;
   width: 300px;
   font-size: 0.8rem;
}
.input-field i {
   color: rgba(0, 0, 0, 0.5);
   margin: auto 20px;
   font-size: 80%;
}
.error i {
   color: rgba(0, 0, 0, 0.5);
   margin: auto 20px;
   font-size: 80%;
}
.error {
   max-width: 380px;
   width: 90%;
   height: 45px;
   background-color: #f0f0f0;
   margin: 10px 0;
   border-radius: 55px;
   /* padding: 0 0.1rem; */
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   border:0.1px solid red;
   /* box-shadow: 0 0.5px 5px rgba(252, 2, 2, 0.5); */
   /* -moz-box-shadow: 0 0.5px 5px rgba(252, 2, 2, 0.5); */
   /* -webkit-box-shadow: 0 0.5px 5px rgba(252, 2, 2, 0.5); */
}
.error input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 1.1rem;
   color: #333;
   width: 90%;
}
.success {
   max-width: 380px;
   width: 100%;
   height: 55px;
   background-color: #f0f0f0;
   margin: 10px 0;
   border-radius: 55px;
   display: grid;
   grid-template-columns: 85% 15%;
   padding: 0 0.4rem;
   border: 2px solid rgb(13, 241, 13);
}
.success input {
   background: none;
   outline: none;
   border: none;
   line-height: 1;
   font-weight: 600;
   font-size: 1.1rem;
   color: #333;
   margin-left: 55px;
}
.msg {
   color: red;
   width: 350px;
   font-size: 0.8rem;
   margin-left: 1rem;
}
/* message from server */
.server-message {
   width: 60%;
   background-color: rgba(214, 172, 172, 0.596);
   color: black;
   font-size: 1rem;
   border-radius: 10px;
   padding: 0.4rem;
}

.input-field input::placeholder {
   color: #aaa;
   font-weight: 500;
}

/* button */
.btn {
   width: 150px;
   height: 49px;
   border: none;
   outline: none;
   border-radius: 49px;
   cursor: pointer;
   background-color: #0d3f58;
   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   margin: 10px 0;
}
.btn:hover {
   background-color: #2b6777;
   transition: background-color 0.5s ease-out;
}
.btn-inactive {
   width: 150px;
   height: 49px;
   border: none;
   outline: none;
   border-radius: 49px;
   cursor: not-allowed;
   background-color: #8b9da7;
   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   margin: 10px 0;
   transition: 0.5s;
}

.panel-container {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.panel {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-around;
   text-align: center;
   z-index: 7;
}
.left-panel {
   pointer-events: all;
   padding: 3rem 17% 2rem 12%;
}
.right-panel {
   pointer-events: none;
   padding: 3rem 12% 2rem 17%;
}
.panel .content {
   color: #fff;
   transition: 0.9s 0.6s ease-in-out;
}
.panel h3 {
   font-weight: 600;
   line-height: 1;
   font-size: 1.5rem;
}
.panel p {
   font-size: 0.95rem;
   padding: 0.7rem 0;
}
.btn.transparent {
   margin: 0;
   background: none;
   border: 2px solid #fff;
   width: 130px;
   height: 41px;
   font-weight: 600;
   font-size: 0.8rem;
}
div a {
   text-decoration: none;
   color: #5995fd;
}

/*Image*/
.image {
   width: 100%;
   transition: 1.1s 0.4s ease-in-out;
}

/*Right panel*/
.right-panel .content,
.right-panel .image {
   transform: translateX(800px);
}

/*Animation*/
.container.sign-up-mode:before {
   transform: translate(100%, -50%);
   right: 52%;
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
   transform: translateX(-800px);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
   transform: translateX(0px);
}
.container.sign-up-mode .left-panel {
   pointer-events: none;
}
.container.sign-up-mode .right-panel {
   pointer-events: all;
}
.container.sign-up-mode .signin-signup {
   left: 25%;
}
.container.sign-up-mode form.sign-in-form {
   z-index: 1;
   opacity: 0;
}
.container.sign-up-mode form.sign-up-form {
   z-index: 2;
   opacity: 1;
}

@media (max-width: 870px) {
   .container {
      min-height: 800px;
      height: 100vh;
   }
   .container:before {
      width: 1500px;
      height: 1500px;
      left: 30%;
      bottom: 68%;
      transform: translateX(-50%);
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
   }
   .signin-signup {
      width: 100%;
      left: 50%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
   }
   .panel-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
   }
   .panel .content {
      padding-right: 15%;
      transition: 0.9s 0.8s ease-in-out;
   }
   .panel h3 {
      font-size: 1.2rem;
   }
   .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
   }
   .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
   }
   .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
   }
   .image {
      width: 200px;
      transition: 0.9s 0.6s ease-in-out;
   }
   .left-panel {
      grid-row: 1 / 2;
   }
   .right-panel {
      grid-row: 3 / 4;
   }
   .right-panel .content,
   .right-panel .image {
      transform: translateY(300px);
   }
   .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
   }
   .container.sign-up-mode .left-panel .image,
   .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
   }
   .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
      left: 50%;
   }
}

@media (max-width: 570px) {
   form {
      padding: 0 1.5rem;
   }
   .image {
      display: none;
   }
   .panel .content {
      padding-right: 0.5rem 1rem;
   }
   .container:before {
      bottom: 72%;
      left: 50%;
   }
   .container.sign-up-mode:before {
      bottom: 28%;
   }
}


/* Alert */
.show {
   /* background-color: rgb(245, 52, 52); */
   font-size: 0.7rem;
   border-radius: 5px;
   /* padding: 0.2rem; */

}