.nav {
   padding: 10px 10px;
   color: var(--deepcol);
   position: fixed;
   width: 100%;
   height: 4rem;
   z-index: 99;
   background: var(--white);
   box-shadow: 0 0.5rem 1rem rgba(174, 178, 214, 0.06);
}

.welcome_msg {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu {
   position: absolute;
   left: 5.3rem;
   top: 0.9rem;
   cursor: pointer;
   font-size: 2rem;
}

.logo {
   display: block;
   font-size: 14px;
   color: var(--lightcol);
   font-weight: 600;
   font-family: var(--logofont);
   cursor: pointer;
}

.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   margin-right: 2rem;
}

.hello_msg {
   font-size: 12px;
}

.avatar_img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   object-fit: contain;
}

/* tablet screens */
@media (min-width: 480px) {
   .nav {
      padding: 10px 2rem 10px 18px;
   }

   .logo {
      display: block;
      font-size: 20px;
      color: var(--lightcol);
      font-weight: 600;
      font-family: var(--logofont);
   }

   .menu {
      left: 8rem;
   }

   .hello_msg {
      font-size: 16px;
   }

   .avatar {
      gap: 1rem;
   }
}

@media (min-width: 768px) {
   .menu {
      display: none;
   }
}

@media (min-width: 1024px) {
   .nav {
      padding: 1rem 2rem;
   }

   .logo {
      font-size: 24px;
      padding-left: 1rem;
   }
}
