.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 10px;
   color: var(--deepcol);
   position: fixed;
   width: 100%;
   height: 4rem;
   z-index: 99;
   box-shadow: 0 0.5rem 1rem rgba(174, 178, 214, 0.06);
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   padding: 0 1rem;
}

.welcome_msg {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.logo_menu {
   display: flex;
   align-items: center;
   gap: 0.3rem;
}

.menu {
   /* position: absolute; */
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   font-size: 2rem;
}

.menu i {
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo {
   display: block;
   font-size: 14px;
   color: var(--lightcol);
   font-weight: 600;
   font-family: var(--logofont);
   cursor: pointer;
}

.avatar {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.hello_msg {
   font-size: 12px;
}

.avatar_img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   object-fit: cover;
}

/* tablet screens */
@media (min-width: 480px) {
   .nav {
      margin: 0 2rem;
      padding: 1rem 0;
   }

   .logo {
      display: block;
      font-size: 20px;
      color: var(--lightcol);
      font-weight: 600;
      font-family: var(--logofont);
   }

   .menu {
      left: 8rem;
   }

   .hello_msg {
      font-size: 16px;
   }

   .avatar {
      gap: 1rem;
   }
}

@media (min-width: 768px) {
   .menu {
      display: none;
   }
}

@media (min-width: 1024px) {
   .nav {
      padding: 1rem 0;
   }

   .logo {
      font-size: 24px;
      padding-left: 1rem;
   }
}

@media (min-width: 1200px) {
   .wrapper {
      width: 100vw;
      display: flex;
      /* align-items: center; */
      justify-content: center;
      padding: 10px 10px;
      color: var(--deepcol);
      position: fixed;
      width: 100%;
      height: 4rem;
      z-index: 99;
      background: var(--white);
      box-shadow: 0 0.5rem 1rem rgba(174, 178, 214, 0.06);
   }
   /* .nav {
      max-width: 1200px;
   } */
}
