#messageBody {
   padding: 2rem 3rem 0 3rem;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   /* width: 137%; */
   height: calc(100vh - 5rem);
}
#messageBody div {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
#messageBody p {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--gray);
   width: fit-content;
   padding: 0.2rem 0.5rem;
   border-radius: 0.5rem;
   font-weight: 500;
   color: var(--lightcol);
}
