/* .modalBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
 } */
#modalBody {
   height: 10rem;
   width: 25rem;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: var(--white);
   border-radius: 0.5rem;
   visibility: hidden;
   opacity: 0;
   transition: visibility 500ms ease-in-out;
   animation-fill-mode: both;
   z-index: 1;
   box-shadow: 0 4px 8px 0 #bedded, -5px -5px 10px #ffffff;
}
#show {
   height: 10rem;
   width: 25rem;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: var(--white);
   border-radius: 0.5rem;
   visibility: visible;
   opacity: 1;
   transition: visibility 500ms ease-in-out;
   animation-fill-mode: both;
   z-index: 1;
   box-shadow: 0 4px 8px 0 #bedded, -5px -5px 10px #ffffff;
}
.modal {
   width: 90%;
   height: 90%;
   padding: 1rem 0.5rem;
}

.message {
   width: 100%;
   height: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.message h3 {
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--lightcol);
}
.btns {
   width: 100%;
   height: 35%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.quit {
   width: 30%;
   height: 95%;
   border: none;
   outline: none;
   border-radius: 0.3rem;
   cursor: pointer;
   background-color: #05a6c2;
   color: #fff;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 1rem;
   text-align: center;
   overflow: hidden;
   position: relative;
}

.cancel {
   width: 30%;
   height: 95%;
   border: none;
   outline: none;
   border-radius: 0.3rem;
   cursor: pointer;
   background-color: var(--white);
   color: #05a6c2;
   text-transform: uppercase;
   font-weight: 400;
   font-size: 1rem;
   text-align: center;
   overflow: hidden;
   position: relative;
   outline: 1px solid #05a6c2;
   margin-right: 2rem;
}
