.DSContainer {
   margin-left: 16rem;
   display: flex;
   justify-content: space-evenly;
   box-sizing: border-box;
   margin-right: 0;
   gap: 1.25rem;
   min-height: 59rem;
   height: 93.5vh;
}
.DSContainer1 {
   width: 78%;
   background-color: #ecf3fc;
   border-radius: 20px;
   padding: 20px;
}

.DSContainer2 {
   width: 20.3rem;
   background-color: #ecf3fc;
   border-radius: 1.25rem;
   overflow-y: scroll;
}
.DSContainer2::-webkit-scrollbar,
.DSContainer2::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.DSContainer2::-webkit-scrollbar-track,
.DSContainer2::-webkit-scrollbar-track {
   margin: 1.25rem;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.DSContainer2::-webkit-scrollbar-thumb,
.DSContainer2::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}
.DSContainer1 label {
   display: block;
   font-weight: 600;
   font-size: 1.1rem;
   color: #0d3f58;
}

.DSHeader::-webkit-scrollbar,
.DSHeader::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.DSHeader::-webkit-scrollbar-track,
.DSHeader::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.DSHeader::-webkit-scrollbar-thumb,
.DSHeader::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

.patientContainer {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 8px;
   margin-left: 20px;
   margin-top: 50px;
   max-height: 100vh;
}
.DSContainer1 input {
   border: 1px solid #e1e4e8;
   border-radius: 7px;
   text-align: center;
}
.DSContainer1 h2 {
   color: #0d3f58;
   width: 70%;
   margin-top: 10px;
   margin-left: 30px;
}
.inputName {
   width: 80%;
   height: 40px;
   grid-column: 1/2;
   grid-row: 2/3;
}

.inputCondition {
   width: 87%;
   height: 40px;
}
.appointTime {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-left: 20px;
   margin-top: 30px;
   gap: 8px;
}
.inputDate {
   width: 80%;
   height: 2.5rem;
   grid-column: 1/2;
   grid-row: 2/3;
}
.inputStartTime {
   width: 80%;
   height: 2.5rem;
   grid-column: 2/3;
   grid-row: 2/3;
}
.inputEndTime {
   width: 80%;
   height: 2.5rem;
}
.appointTime input::-webkit-input-placeholder {
   font-size: 1.1rem;
   text-align: left;
   padding-left: 8px;
}
.DSbutton {
   width: 100%;
   height: 100%;
   border-radius: 7px;
   background: #05a6c2;
   color: white;
   display: block;
   font-weight: 700;
   font-size: 0.9375rem;
   align-self: center;
}
.DSbuttondiv {
   grid-row: 3/4;
   grid-column: 1/3;
   width: 20rem;
   margin: 3.3rem auto 0 auto;
   height: 2.5rem;
}
.DSbutton:hover {
   cursor: pointer;
   transform: translateY(-1px);
   box-shadow: 0px 5px 10px 1px #c5dbff;
}
.DSbutton:active {
   transform: translateY(1px);
   box-shadow: 0px 0px 5px 1px #c5dbff;
}
.appointmentContainer {
   background-color: white;
   margin: auto;
   height: 25rem;
   border-radius: 20px;
   margin-top: 20px;
   box-sizing: border-box;
   overflow-y: scroll;
}
.appointmentContainer::-webkit-scrollbar,
.appointmentContainer::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.appointmentContainer::-webkit-scrollbar-track,
.appointmentContainer::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.appointmentContainer::-webkit-scrollbar-thumb,
.appointmentContainer::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}
.appointmentContainer table thead {
   position: sticky;
   top: 0;
   background: var(--white);
}
.appointmentContainer table {
   margin: auto;
   text-align: center;
   table-layout: fixed;
   width: 100%;
}
.appointmentContainer th {
   color: #c2c9d1;
   padding-top: 29px;
}
.appointmentContainer table td {
   padding-top: 21px;
   font-weight: 600;
   font-size: 1rem;
   color: #0d3f58;
   width: 19.5rem;
   height: 0.4rem;
   min-height: 0.4rem;
   max-height: 0.4rem;
   cursor: pointer;
}
.appointmentContainer table .tdCancel {
   color: #ec6464;
   cursor: pointer;
}
.appointmentContainer .imgHeader {
   width: 10%;
}
.appointmentContainer .tdCondition {
   text-align: left;
}
.appointmentContainer .tCondition{
   text-align: left;
}
.appointmentContainer .tName {
   text-align: left;
   margin: 0 auto;
}
.appointmentContainer .tdName {
   text-align: left;
}
.DSContainer h2 {
   padding: 20px 0px;
}
.DSContainer2 h2 {
   color: #0d3f58;
   text-align: center;
}
.DSContainer2 li {
   font-weight: 600;
   color: #0d3f58;
   font-size: 1rem;
}
.imageDiv {
   margin: 15px 0;
   width: 17rem;
}
.imageDiv img {
   margin: 0 20px;
   width: 40px;
   height: 40px;
}
.nameSection img {
   width: 40px;
   height: 40px;
}
/*Responsive*/
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
   .DSContainer1 h2 {
      width: 16.3125rem;
      font-weight: 600;
      height: 2.25rem;
      font-size: 1.25rem;
      margin-left: 20px;
      margin-right: 425px;
      padding: 0;
      margin-top: 25px;
   }
   .patientContainer {
      gap: 0;
      width: 91%;
   }
   .patientContainer .inputName {
      width: 15.875rem;
      height: 2.5rem;
   }
   .patientContainer .inputCondition {
      width: 23.5rem;
      height: 2.5rem;
   }
   .patientContainer .inputDate {
      width: 13.75rem;
      height: 2.5rem;
   }
   .patientContainer .inputStartTime {
      width: 11.875rem;
      height: 2.5rem;
   }
   .patientContainer .inputEndTime {
      width: 11.875rem;
      height: 2.5rem;
   }
   .patientContainer label {
      font-size: 0.875rem;
      margin-bottom: 8px;
   }
   .appointTime label {
      font-size: 0.875rem;
      margin-bottom: 8px;
   }
   .DSbutton {
      width: 75%;
      margin: auto;
   }
   .DSh21 {
      font-size: 16.3125rem;
      margin-left: 21px;
   }
   .appointmentContainer {
      margin-top: 6px;
   }
   .appointmentContainer .nameSection {
      width: 100px;
      padding: 0;
   }
   .appointTime input::-webkit-input-placeholder {
      font-size: 0.875rem;
   }
   .appointmentContainer .tName{
   width: 20%;
}
.appointmentContainer .imgHeader{
   width: 10%;
}
.appointmentContainer .tAction{
   width: 20%;
}
}
@media only screen and (max-width: 1200px) {
   .DSContainer {
      width: 78%;
      margin-left: 15rem;
   }
   .DSContainer1 {
      width: 80%;
      height: 93.5vh;
   }

   .DSContainer1 form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   .DSContainer1 label {
      font-size: 1rem;
   }
   .DSContainer h2 {
      font-size: 1.2rem;
      width: 100%;
   }
   .DSContainer2 {
      grid-column: 1/2;
      width: 35%;
      height: 56.75rem;
      overflow: scroll;
      border-radius: 20px;
   }
   .DSbuttondiv {
      width: 70%;
      margin: 3.3rem auto 0 auto;
   }
   .DSbutton {
      margin: 0 auto;
      width: 100%;
   }
   .patientContainer {
      grid-column: 1/2;
      grid-row: 1/3;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .appointTime {
      grid-column: 2/3;
      grid-row: 1/3;
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      grid-template-rows: repeat(6, 2fr);
   }
   .labelDate {
      grid-column: 1/3;
      grid-row: 1/2;
   }
   .labelETime {
      grid-column: 1/3;
      grid-row: 5/6;
   }
   .labelSTime {
      grid-column: 1/3;
   }
   .inputStartTime {
      grid-column: 1/3;
      grid-row: 4/5;
   }
   .inputEndTime {
      grid-column: 1/3;
      grid-row: 6/7;
   }
   .DSbutton {
      grid-column: 1/3;
      width: 70%;
   }
   .appointmentContainer table {
      margin-top: 0;
   }
   .appointmentContainer th {
      font-size: 0.8rem;
   }
   .appointmentContainer td {
      font-size: 0.7rem;
   }

   .appointmentContainer {
      height: 15vh;
   }
   .DSContainer1 {
      border-radius: 20px;
   }
   .appointmentContainer .nameSection {
      width: 200px;
   }
   .appointmentContainer td {
      padding: 1rem;
   }
   .DSFiles {
      margin-top: 0;
   }
      .appointmentContainer .tName{
   width: 20%;
}
.appointmentContainer .imgHeader{
   width: 10%;
}
.appointmentContainer .tAction{
   width: 20%;
}
}
/*smaller laptop screens*/
@media (max-width: 1024px) {
   .DSContainer {
      margin-left: 5rem;
      display: grid;
      width: auto;
      height: 90rem;
      font-size: 1rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 0.4fr 0.3fr;
   }
   .DSContainer1 {
      width: 78%;
      margin-left: 10rem;
      height: 59rem;
   }
   .DSpatientContainer {
      width: 90%;
      margin: 0 auto;
   }
   .appointmentContainer {
      height: 25%;
   }
   .appointmentContainer .nameSection {
      width: 200px;
   }
   .appointmentContainer td {
      padding: 1rem;
   }
}
/*Tablet Screens*/
@media (max-width: 768px) {
   .DSContainer {
      margin: 0 auto;
      display: grid;
      width: 100%;
      font-size: 1rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      height: 112.5rem;
   }
   .DSContainer1 {
      width: 100%;
      background-color: white;
      margin-left: 0;
   }
   .DSContainer1 h2 {
      width: 100%;
      text-align: center;
      margin: auto;
      font-size: 1.2rem;
   }
   .DSContainer1 form {
      grid-template-columns: repeat(1 1fr);
      grid-template-rows: repeat(3, 1fr);
      margin: auto;
   }
   .patientContainer {
      grid-column: 1/3;
      grid-row: 1/2;
   }
   .DSpatientContainer {
      grid-column: 1/2;
      grid-row: 3/4;
   }
   .appointTime {
      grid-column: 1/3;
      grid-row: 2/3;
      height: 100%;
      align-self: center;
   }
   .appointmentContainer {
      height: 18.75rem;
      overflow-y: scroll;
   }
   .appointmentContainer .nameSection {
      width: 200px;
   }
   .appointmentContainer td {
      padding: 1rem;
   }
}
/*Mobile screens*/
@media (max-width: 425px) {
   .DSContainer {
      margin-left: 0;
      display: grid;
      width: 100%;
      font-size: 1rem;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, 1fr);
      height: 106.25rem;
      overflow-y: scroll;
   }
   .DSContainer1 {
      width: 100%;
      background-color: white;
      margin-left: 0;
   }
   .DSContainer1 h2 {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   .DSContainer1 form {
      grid-template-columns: repeat(1 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
   .patientContainer {
      grid-column: 1/3;
      grid-row: 1/2;
   }
   .appointTime {
      grid-column: 1/3;
      grid-row: 2/3;
      height: 100%;
      align-self: center;
   }
   .appointmentContainer {
      height: 15.625rem;
      overflow-y: scroll;
   }
   .DSContainer2 {
      grid-column: 1/2;
      grid-row: 3/4;
      margin: 0 auto 20px auto;
      width: 80%;
      text-align: center;
   }
   .DSContainer2 ul {
      text-align: center;
      padding-left: 0;
   }
   .DSContainer2 li {
      font-size: 1rem;
   }
   .DSContainer2::-webkit-scrollbar,
   .DSContainer2::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
      cursor: pointer;
   }
   .DSContainer2::-webkit-scrollbar-track,
   .DSContainer2::-webkit-scrollbar-track {
      margin: 20px;
      cursor: pointer;
      --webkit-box-shadow: inset 0 0 10px var(--white);
   }
   .DSContainer2::-webkit-scrollbar-thumb,
   .DSContainer2::-webkit-scrollbar-thumb {
      background-color: var(--lightcol);
      border-radius: 10%;
      cursor: pointer;
   }
   .DSbutton {
      width: 100%;
   }
   .DSbuttondiv {
      width: 70%;
   }
   .appointmentContainer .nameSection {
      width: 100%;
   }
   .appointmentContainer td {
      padding: 1rem;
   }
   .appointmentContainer .imgSection{
      padding-left: 0;
   }
}

/*small mobile screens*/
@media (max-width: 375px) {
   .DSContainer {
      margin-left: 0;
      display: grid;
      width: 100%;
      font-size: 1rem;
      gap: 0;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 0.6fr 0.5fr 0.5fr;
      margin-left: 0;
      height: 112.5rem;
      overflow-y: scroll;
   }

   .DSContainer1 {
      width: 100%;
      background-color: white;
      margin-left: 0;
   }
   .DSContainer1 h2 {
      width: 100%;
      text-align: center;
      margin: auto;
   }
   .DSContainer1 form {
      grid-template-columns: repeat(1 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
   .patientContainer {
      grid-column: 1/3;
      grid-row: 1/2;
   }
   .appointTime {
      grid-column: 1/3;
      grid-row: 2/3;
      height: 100%;
      align-self: center;
   }
   .appointmentContainer {
      height: 21.875rem;
   }
   .DSContainer2 ul {
      text-align: center;
      padding-left: 0;
   }
   .DSbutton {
      width: 100%;
   }
   .DSbuttondiv {
      width: 70%;
      height: 3.125rem;
   }
   .appointmentContainer .nameSection {
      width: 100%;
      justify-content: space-around;
   }
   .appointmentContainer .imgSection{
      padding-left: 0;
   }
}
@media (max-width: 320px) {
   .DSContainer {
      width: 100%;
      margin: auto;
   }
   .DSContainer1 form {
      margin: auto;
      width: 100%;
   }
   .appointmentContainer {
      width: 100%;
      margin: auto;
      text-align: center;
   }
   .appointmentContainer table {
      width: 100%;
      overflow-x: scroll;
   }
   .appointmentContainer td {
      width: 1000px;
   }
   .appointmentContainer .nameSection {
      width: 100px;
      gap: 1rem;
      padding: 0;
   }
   .appointmentContainer td {
      padding: 1rem;
   }
   .appointmentContainer .imgSection{
      padding-left: 0;
   }
}
