@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.PNFcontainer {
   margin: 100px auto;
   text-align: center;
   height: 70vh;
   width: 80%;
   box-shadow: 0px 4px 20px 10px #ecf3fe;
   border-radius: 22px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.header1 {
   font-size: 2.5rem;
   font-family: Comfortaa;
   color: #05a6c2;
   height: 20%;
   width: 20%;
   margin: 40px auto;
   grid-column: 1/3;
}
.Para {
   grid-column: 1/2;
   grid-row: 2/3;
   align-self: center;
   font-size: 1.8rem;
   width: 90%;
   justify-self: center;
   margin-bottom: 10%;
}
.Para h1 {
   font-size: 2.7rem;
   font-family: Comfortaa;
   color: #0d3f58;
}
.Para p {
   margin: 7% auto;
   font-size: 1.5rem;
   width: 90%;
}
.PNFcontainer .button {
   width: 40%;
   height: 40px;
   background: #05a6c2;
   border-radius: 7px;
   font-weight: 700;
   color: #fff;
   transition-timing-function: ease-in-out;
   transition-duration: 0.1s;
   font-size: 1rem;
}
.PNFcontainer .button:hover {
   cursor: pointer;
   transform: translateY(-1px);
   box-shadow: 0px 5px 10px 1px #c5dbff;
}
.PNFcontainer .button:active {
   transform: translateY(1px);
   box-shadow: 0px 0px 5px 1px #c5dbff;
}
.PNFimage {
   display: block;
   grid-column: 2;
   grid-row: 2/3;
   align-self: center;
}
.PNFimage img {
   width: 80%;
}

/*Responsive*/

@media (max-width: 1112px) {
   .PNFcontainer {
      grid-template-columns: repeat(1, 1fr);
      width: 60%;
      margin: 3% auto;
      height: 90vh;
      gap: 5%;
   }

   .header1 {
      grid-column: 1/2;
      grid-row: 1/2;
      width: 100%;
      align-self: center;
      font-size: 2.5rem;
      margin: auto;
      margin-bottom: 5%;
   }

   .Para {
      grid-column: 1/2;
      grid-row: 3/4;
      margin-bottom: 10%;
   }
   .PNFimage {
      grid-column: 1/2;
      grid-row: 2/3;
   }
   .PNFimage img {
      width: 50%;
   }
   .Para h1 {
      font-size: 2.2rem;
      margin-bottom: 0;
   }
   .Para p {
      width: 70%;
      margin: 3% auto;
      font-size: 1.2rem;
      align-self: center;
   }
}

@media (max-width: 756px) {
   .PNFcontainer {
      box-shadow: none;
      height: 90vh;
   }
   .header1 {
      width: 100%;
   }
   .Para {
      font-size: 1.5rem;
      width: 100%;
   }
   .Para h1 {
      font-size: 2.3rem;
   }
   .Para p {
      margin-bottom: 10%;
      font-size: 1.3rem;
   }
   .PNFimage img {
      width: 70%;
   }
}

@media (max-width: 480px) {
   .PNFcontainer {
      height: 100vh;
      margin: auto;
      width: 70%;
   }
   .Para {
      width: 100%;
   }
   .Para h1 {
      font-size: 2rem;
   }
   .Para p {
      font-size: 1.3rem;
      width: 100%;
      margin: 20% auto;
   }
   .PNFimage img {
      width: 100%;
   }
}
@media (max-width: 320px) {
   .PNFcontainer {
      height: 80vh;
   }
   .Para {
      width: 100%;
   }
   .Para h1 {
      font-size: 2rem;
      margin: 15% auto;
   }
   .Para p {
      font-size: 1rem;
      margin-bottom: 10%;
   }
}
