.DRContainer {
   height: 93vh;
   max-height: 100vh;
   margin-left: 15rem;
   display: flex;
   box-sizing: border-box;
   gap: 1.25rem;
   margin-right: 20px;
   overflow-y: auto;
   overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.DRContainer::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.DRContainer {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.DRContainer h2 {
   padding: 20px 0px;
}
.DRContainer1 {
   width: 70%;
   background-color: #ecf3fc;
   border-radius: 20px;
   padding: 20px;
   max-height: 100vh;
}
.DRContainer1 h1 {
   margin: 20px 0;
   padding-left: 50px;
   color: #0d3f58;
   font-size: 1.125rem;
}
.DRContainer1 label {
   display: block;
   font-weight: 600;
   font-size: 1.1rem;
   color: #0d3f58;
}

.DRHeader {
   margin-left: 25rem;
   background-color: #ecf3fc;
   width: 55%;
   height: 95vh;
   overflow-y: scroll;
   border-radius: 20px 20px 0px 0px;
}
.DRUpload {
   background-color: white;
   width: 90%;
   height: 14.25rem;
   margin: auto;
   text-align: center;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: 0fr 0fr;
   border-radius: 20px;
   border: 2px dashed #05a6c2;
   padding-top: 54px;
}
.DRHeader h1 {
   display: inline-block;
   padding: 20px;
   margin: 10px 30px;
   font-size: 1.2rem;
   color: #0d3f58;
}
.DRSheader {
   align-self: center;
   color: #0d3f58;
   font-size: 0.9375rem;
}
.DRFiles {
   text-align: center;
   display: flex;
   justify-content: space-between;
   margin-top: 4.5rem;
   background-color: white;
   width: 90%;
   margin: 100px auto;
   height: 500px;
   overflow-y: auto;
   border-radius: 20px;
   height: 32.6rem;
   max-height: 100vh;
}
/* .DRFiles::-webkit-scrollbar,
.DRFiles::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.DRFiles::-webkit-scrollbar-track,
.DRFiles::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.DRFiles::-webkit-scrollbar-thumb,
.DRFiles::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

.DRHeader::-webkit-scrollbar,
.DRHeader::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.DRHeader::-webkit-scrollbar-track,
.DRHeader::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.DRHeader::-webkit-scrollbar-thumb,
.DRHeader::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
} */
.DRFiles th {
   color: #c2c9d1;
}
.DRFiles table {
   width: 100%;
   margin-top: 30px;
}
.DRFiles td {
   height: 5rem;
   color: #0d3f58;
   font-weight: 600;
   font-size: 0.9375rem;
}
.DRButtonLink {
   color: #05a6c2;
}
.DRUploadimg {
   height: 50px;
   width: 50px;
   fill: #05a6c2;
   justify-self: center;
}
.DRicons {
   height: 5rem;
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin: auto;
   align-items: center;
}
.DRpencil {
   fill: #05a6c2;
   cursor: pointer;
}
.DRtrash {
   fill: red;
   cursor: pointer;
}

/*bigger laptops*/
@media (max-width: 1440px) {
   .DRHeader {
      margin-left: 1rem;
      width: 80%;
   }
}
/*smaller laptops*/
@media (max-width: 1024px) {
   .DRContainer {
      margin-left: 6rem;
   }
   .DRHeader {
      margin-left: 12rem;
      width: 80%;
   }
}
/*Tablet sizes*/
@media (max-width: 768px) {
   .DRContainer {
      margin: auto;
      width: 95%;
      justify-content: center;
      height: 90vh;
   }
   .DRContainer1 {
      width: 100%;
   }
   .DRHeader {
      margin: auto;
      width: 100%;
      background-color: white;
      text-align: center;
   }
}

@media (max-width: 600px) {
}

/*Bigger Mobile screens*/
@media (max-width: 425px) {
   .DRHeader {
      margin: auto;
      width: 100%;
      text-align: center;
      background-color: white;
      font-size: 0.7rem;
   }
}
/*MOBILE SCREENS*/
@media (max-width: 375px) {
   .DRHeader {
      text-align: center;
      margin-left: 0;
      width: 100%;
      background-color: white;
      font-size: 0.8rem;
   }
}
