.DRHeader {
   margin-left: 25rem;
   background-color: #ecf3fc;
   width: 55%;
   height: 95vh;
   border-radius: 20px 20px 0px 0px;
}
.DRUpload {
   background-color: white;
   width: 90%;
   height: 30%;
   margin: auto;
   text-align: center;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(1, auto);
   grid-template-rows: repeat(1, 1fr);
   border-radius: 20px;
   border: 2px dashed #05a6c2;
}
.DRHeader h1 {
   display: inline-block;
   padding: 20px;
   margin: 10px 30px;
   font-size: 1.2rem;
   color: #0d3f58;
}
.DRSheader {
   align-self: center;
   color: #0d3f58;
   height: 12rem;
}
.DRFiles {
   text-align: center;
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 30px;
   background-color: white;
   width: 90%;
   margin: 100px auto;
   height: 47.5vh;
   border-radius: 20px 20px 0px 0px;
}
.DRFiles th {
   color: #c2c9d1;
}
.DRFiles table {
   width: 100%;
   margin-top: 30px;
}
.DRFiles td {
   height: 5rem;
   color: #0d3f58;
   font-weight: 700;
}
.DRButtonLink {
   color: #05a6c2;
}
.DRUploadimg {
   height: 10rem;
   width: 3rem;
   fill: #05a6c2;
   justify-self: center;
}
.DRicons {
   height: 5rem;
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin: auto;
   align-items: center;
}
.DRpencil {
   fill: #05a6c2;
   cursor: pointer;
}
.DRtrash {
   fill: red;
   cursor: pointer;
}
/*smaller laptops*/
@media (max-width: 1024px) {
   .DRHeader {
      margin-left: 12rem;
      width: 80%;
   }
}
/*Tablet sizes*/
@media (max-width: 768px) {
   .DRHeader {
      margin: auto;
      width: 100%;
      background-color: white;
      text-align: center;
   }
}
/*Bigger Mobile screens*/
@media (max-width: 425px) {
   .DRHeader {
      margin: auto;
      width: 100%;
      text-align: center;
      background-color: white;
      font-size: 0.7rem;
   }
}
/*MOBILE SCREENS*/
@media (max-width: 375px) {
   .DRHeader {
      text-align: center;
      margin-left: 0;
      width: 100%;
      background-color: white;
      font-size: 0.8rem;
   }
}
