.docRecordsContainer {
   width: calc(100vw-15rem);
   height: 100vh;
   margin-left: 15rem;
   display: flex;
   box-sizing: border-box;
   /* gap: 1.25rem; */
   margin-right: 20px;
   overflow-y: hidden;
   overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.docRecordsContainer>::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.docRecordsContainer>*{
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.docRecordsContainer h2 {
   padding: 20px 0px;
}
.docRecordsContainer1 {
   width: 70%;
   background-color: #ecf3fc;
   border-radius: 20px;
   padding: 4%;
   max-height: 100vh;
   overflow: scroll;
}
.docRecordsContainer1 h1 {
   /* margin: 20px 0; */
   /* padding-left: 50px; */
   color: #0d3f58;
   font-size: 1.125rem;
}
.docRecordsContainer1 label {
   display: block;
   font-weight: 600;
   font-size: 1.1rem;
   color: #0d3f58;
}

.docRecordsHeader {
   margin-left: 25rem;
   background-color: #ecf3fc;
   width: 55%;
   height: 95vh;
   overflow-y: scroll;
   border-radius: 20px 20px 0px 0px;
}
.docRecordsUpload {
   background-color: white;
   width: 100%;
   height: 14.25rem;
   margin: 20px 0;
   text-align: center;
   align-items: center;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(1, 1fr);
   border-radius: 20px;
   border: 2px dashed #05a6c2;
   padding-top: 54px;
}
.docRecordsHeader h1 {
   display: inline-block;
   padding: 20px;
   margin: 10px 30px;
   font-size: 1.2rem;
   color: #0d3f58;
}
.docRecordsSheader {
   align-self: center;
   color: #0d3f58;
   font-size: 0.9375rem;
}
.docRecordsFiles {
   text-align: center;
   display: flex;
   justify-content: space-between;
   margin-top: 4.5rem;
   background-color: white;
   width: 100%;
   /* margin: auto; */
   overflow-y: scroll;
   border-radius: 20px;
   height: 100%;
   /* max-height: 100vh; */
}
/* .docRecordsFiles::-webkit-scrollbar,
.docRecordsFiles::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.docRecordsFiles::-webkit-scrollbar-track,
.docRecordsFiles::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.docRecordsFiles::-webkit-scrollbar-thumb,
.docRecordsFiles::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
}

.docRecordsHeader::-webkit-scrollbar,
.docRecordsHeader::-webkit-scrollbar {
   width: 0.3rem;
   height: 0.3rem;
   cursor: pointer;
}
.docRecordsHeader::-webkit-scrollbar-track,
.docRecordsHeader::-webkit-scrollbar-track {
   margin: 20px;
   cursor: pointer;
   --webkit-box-shadow: inset 0 0 10px var(--white);
}
.docRecordsHeader::-webkit-scrollbar-thumb,
.docRecordsHeader::-webkit-scrollbar-thumb {
   background-color: var(--lightcol);
   border-radius: 10%;
   cursor: pointer;
} */
.docRecordsFiles th {
   color: #c2c9d1;
}
.docRecordsFiles table {
   width: 100%;
   margin-top: 30px;
}
.docRecordsFiles td {
   height: 5rem;
   color: #0d3f58;
   font-weight: 600;
   font-size: 0.9375rem;
}
.docRecordsButtonLink {
   cursor: pointer;
   color: #05a6c2;
}
.docRecordsUploadimg {
   cursor: pointer;
   height: 50px;
   width: 50px;
   fill: #05a6c2;
   justify-self: center;
}
.docRecordsicons {
   height: 5rem;
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin: auto;
   align-items: center;
}
.docRecordspencil {
   fill: #05a6c2;
   cursor: pointer;
}
.docRecordstrash {
   fill: red;
   cursor: pointer;
}
@media(min-width:2000px){
   .docRecordsContainer{
         width: 90rem;
      margin: auto;
   }
}

/*bigger laptops*/
@media (max-width: 1440px) {
   .docRecordsHeader {
      margin-left: 1rem;
      width: 80%;
   }
}
/*smaller laptops*/
@media (max-width: 1024px) {
   .docRecordsContainer {
      margin-left: 6rem;
   }
   .docRecordsHeader {
      margin-left: 12rem;
      width: 80%;
   }
}
/*Tablet sizes*/
@media (max-width: 768px) {
   .docRecordsContainer {
      margin: auto;
      width: 95%;
      justify-content: center;
      height: 90vh;
   }
   .docRecordsContainer1 {
      width: 100%;
   }
   .docRecordsHeader {
      margin: auto;
      width: 100%;
      background-color: white;
      text-align: center;
   }
}

@media (max-width: 600px) {
}

/*Bigger Mobile screens*/
@media (max-width: 425px) {
   .docRecordsHeader {
      margin: auto;
      width: 100%;
      text-align: center;
      background-color: white;
      font-size: 0.7rem;
   }
}
/*MOBILE SCREENS*/
@media (max-width: 375px) {
   .docRecordsHeader {
      text-align: center;
      margin-left: 0;
      width: 100%;
      background-color: white;
      font-size: 0.8rem;
   }
}
