* {
   transition: all 500ms ease-in-out;
}

.birthdayBody {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   font-family: 'Comfortaa';
}

.closeModal {
   position: absolute;
   top: 0%;
   left: 50%;
   background: #ffffff;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   cursor: pointer;
   font-weight: 900;
}
.closeModal i {
   width: 100%;
   height: 100%;
   text-align: center;
   font-weight: 900;
   font-size: 20px;
}

.card {
   background: #fdfdfd;
   border-radius: 4px;
   height: 75vh;
   width: 65vw;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1em;
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
   transition: visibility 500ms ease-in-out;
   animation-fill-mode: both;
}
.card.active {
   visibility: visible;
   opacity: 1;
   transition: visibility 500ms ease-in-out;
}

.name {
   font-family: 'Poppins';
   font-size: small;
   color: var(--lightcol);
}
.text {
   color: var(--midcol);
   font-weight: 400;
}
.text h1 {
   font-weight: 700;
   font-family: 'Comfortaa';
}
@media only screen and (min-width: 1000px) {
   .card {
      flex-direction: row-reverse;
   }
   .card img.birthday {
      width: 100%;
      max-width: 40vw;
      max-height: unset;
   }
}

@media only screen and (max-height: 640px) {
   .card {
      flex-direction: row-reverse;
   }
   .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
   }
}

img.birthday {
   max-height: 40vh;
}

.text {
   padding: 1em;
}

.muted {
   opacity: 0.8;
}

.space {
   height: 100px;
}
